<template>
    <div class="icon-quest-circle">
        <div class="circle-inner">
            <div class="quest">?</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "icon-quest-circle"
    }
</script>

<style scoped>

</style>