<template>
    <div>
        <div class="icon-quest-circle display-calorie-block">
            <div class="display-calorie-block-inner">
                <div class="display_caloire">
                    <span class="calorie_inner">{{ composite.calorie }}</span>
                    <span>KCAL</span>
                </div>
            </div>
        </div>
        <div class="icon-quest-circle">
            <div class="circle-inner">
                <div class="quest">
                    <md-progress-spinner class="quest-m-circle pretain-circle" :md-value="compositeProteinPercentage" :md-stroke="2" :md-diameter="50"></md-progress-spinner>
                    <div class="content">
                        <span>蛋</span><span class="lightBlue">{{ compositeDisplay(composite.protein) }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-quest-circle">
            <div class="circle-inner">
                <div class="quest">
                    <md-progress-spinner class="quest-m-circle fat-circle" :md-value="compositeFatPercentage" :md-stroke="2" :md-diameter="50"></md-progress-spinner>
                    <div class="content">
                        <span>脂</span><span class="lightPink">{{ compositeDisplay(composite.fat) }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-quest-circle">
            <div class="circle-inner">
                <div class="quest">
                    <md-progress-spinner class="quest-m-circle sugar-circle" :md-value="compositeSugarPercentage" :md-stroke="2" :md-diameter="50"></md-progress-spinner>
                    <div class="content">
                        <span>醣</span><span class="lightYellow">{{ compositeDisplay(composite.sugar) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "icon-composite-circle",
        props: {
            composite: {
                type: Object,
            },
        },
        mounted() {

            $(".pretain-circle circle.md-progress-spinner-circle").css("stroke","#AEE5ED")
            $(".fat-circle circle.md-progress-spinner-circle").css("stroke","#FD9FA3")
            $(".sugar-circle circle.md-progress-spinner-circle").css("stroke","#FCDB80")

        },
        data() {
            return {
            }
        },
        methods: {
            compositeDisplay(value) {
                return value >= 100 ? '滿' : value;
            },
            compositePercentage(value) {
                let fullValue = 100;
                if (value > 0) {
                    return Math.round(( value / 100) * 100 )
                }

                return fullValue;
            }
        },
        computed:{
            compositeProteinPercentage() {
                return this.compositePercentage(this.composite.protein);
            },
            compositeFatPercentage() {
                return this.compositePercentage(this.composite.fat);
            },
            compositeSugarPercentage() {
                return this.compositePercentage(this.composite.sugar);
            }
        },
        watch: {
        }
    }
</script>

<style scoped lang="scss">
    .quest-m-circle {
        position: absolute;
        top: 2px;
        left: 4px;
    }
    circle.md-progress-spinner-circle {
        stroke: #0F0 !important;
    }
</style>