<template>
    <div>
        <md-dialog-alert :md-active.sync="active" :md-content="content" md-confirm-text="確定" @click="close"/>
    </div>

</template>

<script>
    export default {
        name: "alert",
        data() {
            return {
                active: false,
                content: null,
                callback: null
            }
        },
        methods: {
            close() {
              this.active = false;
              if (this.callback) {
                  this.callback();
              }
            },
            show(content,callback) {
                this.content = content;
                this.callback = callback;
                this.active = true;
            },
            showNotLogin(callback) {
                this.content = '您尚未登入';
                this.callback = callback;
                this.active = true;
            }
        }
    }
</script>

<style scoped>

</style>