<template>
    <section class="card-share">
        <article>
            <header>
                <div class="profile_img">
                    <router-link :to="{name:'profile.images',params:{unique:row.user_unique}}" v-if="row.user_image">
                        <img :src="row.user_image" alt="">
                    </router-link>
                    <router-link :to="{name:'profile.images',params:{unique:row.user_unique}}" v-else>
                        <img src="/images/none.png" alt="">
                    </router-link>
                </div>
                <div class="profile_name">
                    <div class="profile_inner">
                        <div class="display">
                            <div class="display_name">&nbsp;&nbsp;<router-link :to="{name:'profile.images',params:{unique:row.user_unique}}" :class="row.user_role == 'patient' ? '' : 'expert'">{{ row.user_name }} </router-link></div>
                            <div class="before_time">&nbsp;&nbsp;{{ row.created_at }}
                                <span v-if="$store.getters.user.id == row.user_unique">{{ shareName }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile_go">
                    <div class="go_inner" v-if="$store.getters.user.id != row.user_unique">
                        <!--
                        <a href="#" @click.prevent="clickTrack" v-if="!row.track">
                            <i class="f7-icons">add_round</i>
                        </a>
                        <a href="#" @click.prevent="clickTrack" v-else class="tracked">
                            <span>已追蹤</span>
                        </a>!-->

                        <a href="#" @click.prevent="clickTrack" v-if="row.track == 0" class="tracked">
                            <span>審核中</span>
                        </a>
                        <a href="#" @click.prevent="clickTrack" v-else-if="row.track == 1" class="tracked">
                            <span>已追蹤</span>
                        </a>
                        <a href="#" @click.prevent="clickTrack" v-else-if="row.track == -1" class="tracked">
                            <span>已拒絕</span>
                        </a>
                        <a href="#" @click.prevent="clickTrack" v-else>
                            <i class="f7-icons">add_round</i>
                        </a>


                    </div>
                    <div class="go_inner" v-else>
                        <a href="#" @click.prevent="clickMore">
                            <i class="f7-icons">more</i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="main-img">
                <div class="img-inner">
                    <div v-if="row.photo != ''" style="display: inline-block; position: relative;">
                        <img v-if="row.photo" :src="row.photo" @click="setStarOnDbClick" alt="">
                        <img v-else src="/images/placeholder_375.jpg" @click="setStarOnDbClick" alt="">
                        <div class="label-name" v-if="row.type == 'caloria' && row.name != null">{{ row.name }}</div>
                    </div>
                    <div v-else style="position: relative;">
                        <div v-if="row.type == 'bp'" style="background: url('/images/text-bg.jpg');width: 100%;height: 300px;display: flex;align-items: center;justify-content: center;">
                            <div style="color: #FFF; font-size:30px;font-weight:bold">
                                今日登入血壓 <br />
                                <span style="font-size: 40px;"> {{ row.sbp }} /  {{ row.dbp }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="left-icon">
                    <div class="left-icon-inner">
                        <a href="#" class="star-inner" @click="setStar">
                            <span v-if="row.like">
                                <img src="/images/icon/so88_like_click.png" alt="" width="30">
                            </span>
                            <span v-else>
                                <img src="/images/icon/so88_like.png" alt="" width="30">
                            </span>
                        </a>
                        <a href="#" @click="showMessageBox">
                            <span>
                                <img src="/images/icon/so88_talk.png" alt="" width="30">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="right-icon" v-if="row.type == 'caloria'">
                    <a href="#" @click.prevent="" v-if="!row.paid">
                        <div class="icon-quest-circle display-calorie-block" v-if="row.value > 0">
                            <div class="display-calorie-block-inner">
                                <div class="display_caloire">
                                    <span class="calorie_inner">{{ row.value }}</span>
                                    <span>KCAL</span>
                                </div>
                            </div>
                        </div>
                        <icon-quest-circle></icon-quest-circle>
                        <icon-quest-circle></icon-quest-circle>
                        <icon-quest-circle></icon-quest-circle>
                    </a>
                    <a href="#" @click.prevent="" v-else>
                        <icon-composite-circle :composite="{calorie: row.value, sugar:row.sugar, fat:row.fat, protein:row.protein}"></icon-composite-circle>
                    </a>
                </div>
                <div class="right-icon" v-else-if="row.type == 'bp'">
                    <div class="icon-quest-circle display-calorie-block">
                        <div class="display-calorie-block-inner2" :style="{background: row.is_moon == 1 ? '#FF88C2' : ''}">
                            <div class="display_caloire">
                                <span class="calorie_inner">{{ row.sbp }}</span>
                                <span style="display: block">SBP</span>
                            </div>
                        </div>
                    </div>

                    <div class="icon-quest-circle display-calorie-block">
                        <div class="display-calorie-block-inner2" :style="{background: row.is_moon == 1 ? '#FF88C2' : ''}">
                            <div class="display_caloire">
                                <span class="calorie_inner">{{ row.dbp }}</span>
                                <span style="display: block">DBP</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-icon" v-else>

                </div>
            </footer>
            <div class="show-like-block">
                <div style="text-align: left; cursor: pointer">
                    <span v-if="row.like_count > 0" @click.prevent="clickShowLikeList">{{ row.like_count }}個喜歡</span>
                </div>
            </div>
        </article>
        <div class="comment" ref="comment">
            <template v-for="(message,key) in row.comments">
                <comment :row="message" :index="key" :key="key" @delComment="delComment" @editComment="editComment"></comment>
            </template>
        </div>
        <div class="message">
            <div class="m-content" v-if="$store.getters.authStatus.isLogin">
                <div class="content_inner">
                    <div class="textarea_frame">
                        <autosizing-textarea placeholder="說些什麼吧!" v-model="messageBox.message"></autosizing-textarea>
                    </div>
                    <div class="textarea_send" :class="messageBox.isSend ? '' : 'text-muted hidden'">
                        <a href="#" @click="messageSubmit">送出</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-more">
            <md-dialog :md-active.sync="active" :md-fullscreen="false" class="custom-card-more-dialog">
                <div class="row" @click="editCard">
                    編輯貼文
                    <!--<md-button class="md-raised md-primary more-button" @click="editCard" style="width: calc(100% - 16px)"></md-button>-->
                </div>

                <md-divider></md-divider>

                <div class="row" @click="editPrivacy">
                    編輯隱私設定
                </div>

                <md-divider></md-divider>

                <div class="row" @click="deleteCard">
                    刪除
                </div>

                <md-divider></md-divider>

                <div class="row" @click="active = false">
                    關閉
                </div>
            </md-dialog>
        </div>

        <!--POPUP Like List!-->
        <div>
            <md-dialog :md-active.sync="showLikeList">
                <md-dialog-title>
                    <div class="show-like-title">
                        <div class="show-like-total">
                            全部 {{ row.like_count }} 個喜歡
                        </div>
                        <div class="show-like-close">
                            <i class="f7-icons" @click="showLikeList = false">close</i>
                        </div>
                    </div>
                </md-dialog-title>
            <md-divider></md-divider>
            <div style="overflow-y: scroll;padding: 10px 0">
                <div>
                    <user-item v-for="(row,key) in likeList" :row='row' :key="key" :type="'search'"></user-item>
                </div>
            </div>
            </md-dialog>
        </div>

    </section>
</template>

<script>
    //http://hgoebl.github.io/mobile-detect.js/
    var MobileDetect = require('mobile-detect');
    var md = new MobileDetect(window.navigator.userAgent);

    Vue.component('icon-quest-circle', require('./icon/IconQuestCircle.vue'));
    Vue.component('icon-composite-circle', require('./icon/IconCompositeCircle.vue'));

    let autosizeTextarea = Vue.component('autosizing-textarea', {
        template: '<textarea rows="1" :style="{\'width\':\'100%\',\'height\':height+\'px\'}" :value="value" @input="onInput"></textarea>',
        props: ['value'],
        data(){
            return {
                height:30
            }
        },
        mounted: function () {
            this.$nextTick(() => {
                // autosize(this.$el);
            })

        },
        methods: {
            onInput: function (event) {
                event.preventDefault();
                event.stopPropagation();
                let dom = event.target;
                let height = dom.scrollHeight;

                // $(event.target).css('height',height+ 'px');
                this.height = height;
                this.$emit('input', event.target.value)
            }
        },
        watch: {
            'value': function (value) {
                if (value.length == 0) {
                    this.height = 30
                }
            }
        }
    })
    export default {
        name: "card-share",
        props: {
            row: {
                type: Object
            },
            show_page: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                active: false,
                showLikeList: false,
                timer: null,
                clicks:0,
                messageBox: {
                    message:'',
                    isSend: false
                },
                likeList: []

            }
        },
        methods: {
            delComment(index) {
                this.row.comments.splice(index,1)
            },
            editComment(message,index) {
                this.row.comments[index].message = message;
            },
            clickShowLikeList() {

                let _this = this;
                this.showLikeList = true;

                axios.get('/api/like/show/'+this.row.unique).then((res)=> {
                    _this.likeList = res.data.data
                }).catch(function (error) {
                    _this.xhrError(error,_this);
                }.bind(this));

            },
            clickTrack() {
                let _this = this;

                if (this.$store.getters.user.id != 0) {
                    let old_track = _this.row.track
                    switch(old_track) {
                        case 1:
                        case 0:
                        case -1:
                            _this.row.track = -99
                            break;
                        default:
                            _this.row.track = 0
                            break;
                    }

                    axios.get('/api/track/'+_this.row.user_unique+'/'+(_this.row.track == 0 ? 1 : 0)).then(function(res) {
                        if (res.data.status == 403) {
                            _this.row.track = old_track;
                        }
                        _this.$store.dispatch("updateQueryTime");
                    }).catch(function() {

                    }.bind(this));

                }else {
                    this.$emit('confirmModal');
                }

            },
            clickMore() {
                this.active = true;
            },
            editCard() {
                this.$store.dispatch("clearCreateImage");

                this.active = false;
                if (this.row.type == 'caloria') {
                    this.$router.push({name:'create',query: { edit: 1, unique: this.row.unique, show_page: this.show_page, type: this.row.type }})
                }else {
                    this.$router.push({name:'create.content',query: { edit: 1, unique: this.row.unique, show_page: this.show_page, type: this.row.type }})
                }

            },
            editPrivacy() {
                this.active = false;

                this.$store.dispatch("clearCreateImage");
                this.$router.push({name:'create.privacy', query: {unique: this.row.unique}})
            },
            deleteCard() {

                let _this = this;
                this.active = false;
                let formData = new FormData;
                formData.append('unique',_this.row.unique);

                this.$emit('deleteCardFromParent')

                axios.post('/api/diet/delete',formData).then((res)=> {
                    if (this.$route.query.show_page) {
                        history.back()
                    }else{
                        location.reload();
                    }
                }).catch(function (error) {
                    _this.xhrError(error,_this);
                }.bind(this));



            },
            setStarOnDbClick(event) {
                event.preventDefault();
                event.stopPropagation();
                let _this = this;
                this.clicks += 1;

                if (this.clicks >= 2) {
                    clearTimeout(this.timer);

                    this.toggleStar();

                    this.clicks = 0;
                }else {
                    this.timer = setTimeout(function() {
                        _this.clicks = 0
                    }, 300);
                }

            },
            setStar(event) {
                event.preventDefault();
                event.stopPropagation();

                this.toggleStar();

            },
            toggleStar() {
                let _this = this;
                let formData = new FormData;
                formData.append('diet_id',_this.row.unique);
                _this.row.like = !_this.row.like;

                if (_this.row.like) {
                    _this.row.like_count = _this.row.like_count + 1;
                }else {
                    _this.row.like_count = _this.row.like_count - 1;
                }


                axios.post('/api/like/save',formData).then((res)=>{
                }).catch(function(error) {
                    _this.xhrError(error,_this);
                }.bind(this));

            },
            showMessageBox(event) {

                event.preventDefault();
                event.stopPropagation();

                if (this.$store.getters.user.id == 0) {
                    this.$root.$refs.confirm.showAuth();
                    return;
                }
                let doScroll = false;
                let dom = event.currentTarget;
                let jDom = $(dom);
                let jDomParentSection = jDom.parents('.card-share');

                if(!md.mobile()) {
                    let scrollTop = 0; //需要滾動的高度

                    if (jDomParentSection.is(':last-child')) {
                        doScroll = false;
                    }else {
                        scrollTop = jDom.offset().top;

                        let tabbarHeight = $('.toolbar').height();
                        let viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
                        let optimizeHeight = viewportHeight - tabbarHeight;

                        let rect = jDomParentSection.find("textarea")[0].getBoundingClientRect();

                        if (optimizeHeight <  rect.top) {
                            doScroll = true;
                        }
                    }

                    if (doScroll) {
                        $("body,html").animate({
                            scrollTop: scrollTop,
                        }, 200);
                    }
                }


                jDomParentSection.find('textarea').focus();



            },
            messageSubmit(event) {

                event.preventDefault();
                event.stopPropagation();

                let _this = this;
                let message = _this.messageBox.message;

                let formData = new FormData;
                formData.append('message',message);
                formData.append('diet_id',_this.row.unique);

                _this.messageBox.message = '';
                _this.row.comments.push({
                    user_name: _this.$store.getters.user.name,
                    user_role: _this.$store.getters.user.role,
                    message: message,
                    user_unique: _this.$store.getters.user.id,
                    type: 'comment',
                    unique: 0
                });
                let count = _this.row.comments.length
                let lastIndex = count - 1;

                axios.post('/api/comment/save',formData).then((res)=> {
                    let data = res.data
                    let unique = data.data.unique
                    _this.row.comments[lastIndex]['unique'] = unique;

                }).catch(function (error) {
                    _this.xhrError(error,_this);
                }.bind(this));

            }
        },
        watch: {
            'messageBox.message': function(value) {
                this.messageBox.isSend = value.length > 0 ? true : false;
            },
            'showLikeList': function(value) {

                if (value) {
                    document.body.classList.add('modal-open');
                }else {
                    document.body.classList.remove('modal-open');
                }

            }
        },
        computed: {
            shareName: function() {
                switch(this.row.share_type) {
                    case "me":
                        return " · 只限本人";
                        break;
                    case "tracker":
                        return " · 追蹤我的人";
                        break;
                    case "expert":
                        return " · 僅限專家";
                        break;
                    default:
                        return " · 公開";
                        break;
                }
            }
        },
        destroyed: function() {
            console.log("card share destroyed");
            this.showLikeList = false;
            document.body.classList.remove('modal-open');
        },
        deactivated: function() {
            console.log('card share deactivated');
            this.showLikeList = false;
            document.body.classList.remove('modal-open');
        },
    }
</script>

<style scoped lang="scss">
    .show-like-title {
        display: flex;
    }
    .show-like-total {
        flex: 1;
    }
    .show-like-close {
        width: 20px;
        margin-top: -16px;
        i {
            font-size: 36px;
            color: #C0C0C0;
        }
    }
    .custom-card-more-dialog {
        max-width: 414px;
        width: 100%;
        bottom: -123px;
        top: unset;
        .row {
            cursor: pointer;
            height: 60px;
            font-size: 18px;
            text-align: left;
            line-height: 60px;
            padding: 0 12px;
            width: calc(100% - 24px);
            margin: 0 auto;
        }
    }
</style>