<template>
    <div class="c-content">

        <template v-if="row.user_role == 'patient'">
            <span :class="'patient'">{{ row.user_name }}</span>&nbsp; {{ row.message }}
        </template>
        <template v-else>
            <v-popover style="display: inline-block;">
                <span :class="'expert'">{{ row.user_name }} </span>&nbsp;
                <template slot="popover">
                    <a v-close-popover>專家帳號</a>
                </template>
            </v-popover>
            &nbsp; {{ row.message }}
        </template>

        <div v-if="row.user_unique == $store.getters.user.id">
            <span class="visibilityHidden">{{ row.user_name }}</span><span class="visibilityHidden">&nbsp; </span><span style="font-size:12px;"><span class="colorGray" @click="edit">編輯</span> <span class="colorGray" @click="del">刪除</span></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['row','index'],
        data() {
            return {
            }
        },
        methods: {
            del() {

                this.$root.$refs.confirm.show('確定刪除嗎？','',()=>{
                    let _this = this;
                    let form = new FormData

                    _this.$emit('delComment',_this.index)

                    form.append("unique",_this.row.unique)
                    form.append("type",_this.row.type)

                    axios.post('/api/comment/delete',form)
                        .then(function (response) {
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            if (error.response && error.response.status === 400) {
                                this.errors.setMessages(error.response.data.messages);
                            }
                        }.bind(this));
                });

            },
            edit() {
                let _this = this;

                this.$root.$refs.prompt.show('',_this.row.message, (value)=> {
                    let form = new FormData

                    _this.$emit('editComment', value, _this.index)

                    form.append("unique",_this.row.unique)
                    form.append("type",_this.row.type)
                    form.append("message",value)

                    axios.post('/api/comment/save',form)
                        .then(function (response) {
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            if (error.response && error.response.status === 400) {
                                this.errors.setMessages(error.response.data.messages);
                            }
                        }.bind(this));
                });

            }
        }
    }
</script>

<style scoped>
    .visibilityHidden{
        visibility:hidden
    }
    .colorGray{
        color: #c0c0c0 !important;
        cursor: pointer;
    }
</style>