<template>
    <div>
        <md-dialog-confirm :md-active.sync="active" :md-title="title" :md-content="content" :md-confirm-text="confirmText"
                           :md-cancel-text="cancelText" @md-cancel="onCancel" @md-confirm="onConfirm" />
    </div>
</template>

<script>
    export default {
        name: "confirm",
        data() {
            return {
                active: false,
                title: '',
                content: '',
                cancelAction: null,
                confirmAction: null,
                confirmText: "確定",
                cancelText: "取消"

            }
        },
        methods: {
            onConfirm() {
                if (this.confirmAction) {
                    this.confirmAction();
                }
            },
            onCancel() {
                if (this.cancelAction) {
                    this.cancelAction();
                }
            },
            show(title,content,confirmAction,cancelAction=null,confirmText="確定",cancelText="取消") {
                this.active = true;
                this.title = title;
                this.content = content;
                this.confirmAction = confirmAction
                this.cancelAction = cancelAction
                this.confirmText = confirmText
                this.cancelText = cancelText
            },
            showAuth() {
                this.active = true;
                this.title = '該功能需要登入';
                this.content = '按下確定跳到登入頁面';
                this.confirmAction = function() {
                    this.$router.push({name:'login', query: {so88:true, device_token: deviceToken, device_type: deviceType}});
                };
            }
        }
    }
</script>

<style scoped>

</style>