<template>
    <div class="so88-navbar">
        <div class="navbar-inner">
            <div class="center">血壓</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "navbar-title"
    }
</script>

<style scoped>

</style>