<template>
    <header id="create-head" class="create-head">
        <div class="create-head-inner">
            <slot name="left_slot">
                <div class="goback">
                    <a href="#" @click.prevent="leftAction"><i class="f7-icons">left</i> 返回</a>
                </div>
            </slot>
            <div class="title">{{ title }}</div>
            <slot name="right_slot">
                <div class="continue"><a href="#" @click.prevent="rightAction">確認</a></div>
            </slot>
        </div>
    </header>
</template>

<script>
    export default {
        name: "navbar",
        props:{
            title: {
                type: String,
                default:''
            },
            leftAction: {
              type: Function,
              default: function(event) {
                  this.historyBack()
              }
            },
            rightAction: {
                type: Function,
                default: function() {
                    console.log("NOT DEFINED RIGHT ACTION");
                }
            }
        }
    }
</script>

<style scoped>
    .create-head-inner {
        width: 95%;
        margin: 0 auto;
    }
</style>