<template>
    <header class="profile-header">
        <div class="fixed-head" :class="{'hidden': !showHeader}">
            <div class="fixed-head-outside">
                <div class="fixed-head-sugar">
                    <div class="fixed-head-inner">
                        <div class="displayName">
                            <!--
                            <div class="inline-block">{{ $store.getters.user.name }}</div>
                            <div class="inline-block"><div class="triangle"></div></div>
                            !-->
                        </div>
                        <div class="profile-gear">
                            <i class="f7-icons" @click.prevent="goSetting">gear_fill</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-introduce" :class="{'margin-header': showHeader}">
            <div class="info" :class="{'myself': user_id == $store.getters.user.id}">
                <div class="info-item img" style="position: relative;">
                    <img :src="row.image || '/images/none.png'" alt="">

                    <div style="position: absolute;width: 98px;padding-top:10px;cursor: pointer;" v-if="user_id != $store.getters.user.id">
                        <span class="track-btn" @click="clickTrack" v-if="row.track == 0">審核中</span>
                        <span class="track-btn" @click="clickTrack" v-else-if="row.track == 1">已追蹤</span>
                        <span class="track-btn" @click="clickTrack" v-else-if="row.track == -1">已拒絕</span>
                        <span class="track-btn" @click="clickTrack" v-else>我要追蹤</span>
                    </div>
                </div>
                <div class="info-item name">
                    <div class="user-name">
                        <template v-if="row.role == 'patient'">
                            <span>{{ row.name }}</span>
                        </template>
                        <template v-else>
                            <v-popover>
                                <span class="expert" v-cloak>{{ row.name }} </span>
                                <template slot="popover">
                                    <a v-close-popover>專家帳號</a>
                                </template>
                            </v-popover>
                        </template>

                    </div>
                    <div class="desp">{{ row.desp }}</div>
                </div>
                <!--
                <div class="info-item weight" v-if="row.role == 'patient'">
                    <span> {{ row.loss_weight ? row.loss_weight.status : '-' }} </span>
                    <span class="value">{{ row.loss_weight ?  row.loss_weight.weight : '0.0' }}</span>
                    <span class="kg">KG</span>
                </div>
                !-->
            </div>
            <div class="subtabbar">
                <router-link :to="{name:'profile.images',params:{unique:user_id},query:{time:$store.getters.queryTime}}" class="tab" :class="subTabname == 'profile.images' ? 'active' : ''">
                    <span v-if="subTabname == 'profile.images'">
                        <img src="/images/icon/so88_food_click.png" alt="" width="22">
                    </span>
                    <span v-else>
                        <img src="/images/icon/so88_food.png" alt="" width="22">
                    </span>
                </router-link>
                <div class="split"></div>
                <router-link :to="{name:'profile.info.data',params:{unique:user_id},query:{time:$store.getters.queryTime}}" class="tab" :class="subTabname == 'profile.info.data' || subTabname == 'profile.info.chart' ? 'active' : ''">
                    <span v-if="subTabname == 'profile.info.data'">
                        <img src="/images/icon/so88_data_click.png" alt="" width="22">
                    </span>
                    <span v-else>
                        <img src="/images/icon/so88_data.png" alt="" width="22">
                    </span>
                </router-link>

                <!--
                <div class="split"></div>
                <router-link :to="{name:'profile.friend-images',params:{unique:user_id},query:{time:$store.getters.queryTime}}" class="tab" :class="subTabname == 'profile.friend-images' ? 'active' : ''">
                    <span v-if="subTabname == 'profile.friend-images'">
                        <img src="/images/icon/so88_pict_click.png" alt="" width="22">
                    </span>
                    <span v-else>
                        <img src="/images/icon/so88_pict.png" alt="" width="22">
                    </span>
                </router-link>
                !-->
                <div class="split" v-if="row.role == 'nutritionist'"></div>
                <router-link v-if="row.role == 'nutritionist'" :to="{name:'profile.tracks',params:{unique:user_id},query:{time:$store.getters.queryTime}}" class="tab" :class="subTabname == 'profile.tracks' ? 'active' : ''">
                    <span v-if="subTabname == 'profile.tracks'">
                        <img src="/images/icon/so88_follow_click.png" alt="" width="22">
                    </span>
                    <span v-else>
                        <img src="/images/icon/so88_follow.png" alt="" width="22">
                    </span>
                </router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "profile-title",
        props: {
            subTabname: {
                type: String,

            },
            user_id: {
                type: [String,Number]
            }
        },
        mounted() {

            let _this = this;
            _this.row = _this.$store.getters.viewUser;


        },
        data() {
            return {
                row: {
                    unique: 0
                },
                tooltipActive: false
            };
        },
        methods: {
            loadData() {
                let _this = this;
                let config = {	headers: {'Content-Type': 'application/json','Cache-Control' : 'max-age=600'}};

                if (_this.row.unique != _this.user_id) {

                    axios.get('/api/member/'+_this.user_id,config)
                        .then(function (response) {
                            _this.row = response.data;
                            _this.$parent.user = _this.row;

                            let viewUser = _this.row;
                            _this.$store.dispatch("updateViewUser", viewUser);
                        })
                        .catch(function (error) {
                            if (error.response && error.response.status === 400) {
                                this.errors.setMessages(error.response.data.messages);
                            }
                            let viewUser = {unique: 0};
                            _this.$store.dispatch("updateViewUser", viewUser);
                        }.bind(this));

                }else {
                    _this.row = _this.row;
                    _this.$parent.user = _this.row;
                }



            },
            goSetting(event) {
                this.$router.push({name: 'setting'});
            },
            clickTrack() {
                let _this = this;

                if (this.$store.getters.user.id != 0) {
                    let old_track = _this.row.track
                    switch(old_track) {
                        case 1:
                        case 0:
                        case -1:
                            _this.row.track = -99
                            break;
                        default:
                            _this.row.track = 0
                            break;
                    }



                    axios.get('/api/track/'+_this.user_id+'/'+(_this.row.track == 0 ? 1 : 0)).then(function(res) {
                        if (res.data.status == 403) {
                            _this.row.track = old_track;
                        }
                        _this.$store.dispatch("updateQueryTime");

                    }).catch(function() {

                    }.bind(this));

                }else {
                    this.$emit('confirmModal');
                }

            },
        },
        computed: {
            showDesp(text) {
                text = '很榮幸在這平台，認識各位大大，希望大家朝減肥目標前進希望大家朝減肥目標前進';
                let ret = text;
                let maxLength = 26;
                if (ret.length > maxLength) {
                    ret = ret.substr(0,maxLength-3) + "...";
                }
                return ret;
            },
            showHeader() {

                return this.$store.getters.user.id != 0 && this.$store.getters.user.id != '' && this.$store.getters.user.id == this.user_id;
            }
        },
        watch: {
            'user_id': function() {
                this.loadData();
            }
        }
    }
</script>

<style scoped>
    .top-zero {
        margin-top: 0;
    }
    .margin-header {
        margin-top: 50px;
    }
    .track-btn {
        border: 1px solid rgb(239, 239, 239);
        width: auto;
        display: inline-block;
        padding: 2px;
        border-radius: 5px;
        font-size: 12px;
    }
</style>