<template>
    <div>
        <md-dialog-prompt
                :md-active.sync="active"
                v-model="value"
                :md-title="title"
                md-input-placeholder=""
                md-cancel-text="取消"
                md-confirm-text="確定"
                @md-confirm="onConfirm"
        />
    </div>
</template>

<script>
    export default {
        name: "Prompt",
        data: () => ({
            active: false,
            value: null,
            title: '',
            confirmAction: null
        }),
        methods: {
            show(title,value,confirmAction) {
              this.active = true;
              this.title = title;
              this.value = value;
              this.confirmAction = confirmAction;
            },
            onConfirm() {
                if (this.confirmAction && this.value != '') {
                    this.confirmAction(this.value);
                }
            }
        }
    }
</script>

<style scoped>

</style>