<template>
    <div class="search-bar">
        <div class="search-bar-inner">
            <form method="post" onsubmit="return false">
                <div class="form-inner">
                    <div class="search-frame">
                        <div id="search" :class="isValue ? '':'no-content'">
                            <div class="search-icon">
                                <label for="search-input"><span class="glyphicon glyphicon-search"></span></label>
                            </div>
                            <div class="search-input">
                                <input :ref="'searchInput'" id="search-input" type="search" placeholder="搜尋" @keyup="typing">
                            </div>
                            <div class="clear-icon" v-if="isValue">
                                <span class="glyphicon glyphicon-remove-circle" @click="clearContent"></span>
                            </div>
                        </div>
                        <div id="search-btn" v-if="isValue">
                            <a href="#" @click="search">搜尋</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search-bar",
        data() {
            return {
                isValue: false
            }
        },
        mounted() {
            let _this = this;
            this.$nextTick(() => _this.$refs.searchInput.focus())
        },
        methods: {
            typing(event) {
                this.isValue = event.target.value != '' ? true : false;
            },
            clearContent() {
                $("#search-input").val("");
                this.isValue = false;

                this.$emit('loadData',$("#search-input").val());
            },
            search(event) {
                event.preventDefault();
                event.stopPropagation();

                this.$emit('loadData',$("#search-input").val());
            }
        }
    }
</script>

<style scoped>

</style>