<template>
    <div class="toolbar">
        <div class="toolbar-inner">
            <router-link :to="{name:'home',query:{time:$store.getters.queryTime}}">
                <span v-if="tabname == 'home'">
                    <img src="/images/icon/so88_home_click.png" alt="" width="26">
                </span>
                <span v-else>
                    <img src="/images/icon/so88_home.png" alt="" width="26">
                </span>
            </router-link>
            <router-link to="/search">
                <span v-if="tabname == 'search'">
                    <img src="/images/icon/so88_search_click.png" alt="" width="26">
                </span>
                <span v-else>
                    <img src="/images/icon/so88_search.png" alt="" width="26">
                </span>
            </router-link>
            <!--
            <a href="#" class="btn-link" style="margin-top:6px">
                <label v-if="$store.getters.authStatus.isLogin" for="take_picture">
                    <div class="take_picture_for-inner"></div>
                </label>
                <label v-else @click="gotoLogin">
                    <div class="take_picture_for-inner"></div>
                </label>

                <input id="take_picture" type="file" accept="image/*" style="display:none" @change="handleCreateImage">
            </a>!-->
            <a href="#" @click.prevent="checkAuth({name:'notice',query:{time:$store.getters.queryTime}})">
                <span  style="position:relative">
                    <img :src=" tabname == 'notice' ? '/images/icon/so88_remind_click.png' : '/images/icon/so88_remind.png'" alt="" width="26">
                    <div class="toolbar-badge" v-if="$store.getters.user.notice_badge > 0">
                        <span v-if="$store.getters.user.notice_badge < 100">{{ $store.getters.user.notice_badge }}</span>
                        <span v-else>99</span>
                    </div>
                </span>
            </a>
            <a href="#" @click.prevent="checkAuth({name:'profile.images',params:{unique: $store.getters.user.id},query:{time:$store.getters.queryTime}})">
                <span v-if="tabname == 'profile'">
                    <img src="/images/icon/so88_user_click.png" alt="" width="26">
                </span>
                <span v-else>
                    <img src="/images/icon/so88_user.png" alt="" width="26">
                </span>
            </a>
        </div>

        <md-speed-dial id="speedDial" class="md-bottom-right" md-direction="top" md-event="click" style="bottom: calc(80px - 100vh);" md-effect="scale">
            <md-speed-dial-target class="md-primary dial-custom-class">
                <md-icon class="md-morph-initial">add</md-icon>
                <md-icon class="md-morph-final">close</md-icon>
            </md-speed-dial-target>

            <md-speed-dial-content>

                <md-button class="md-icon-button custom-big custom-default">
                    <label v-if="$store.getters.authStatus.isLogin" class="addBtnLabel" @click="gotoContent('bp')">
                        紀錄<br/>血壓
                    </label>
                    <label v-else @click="gotoLogin" class="addBtnLabel">
                        紀錄<br/>血壓
                    </label>
                </md-button>

                <md-button class="md-icon-button custom-mid custom-default">
                    <label v-if="$store.getters.authStatus.isLogin" for="take_picture" class="addBtnLabel">
                        紀錄<br/>飲食
                    </label>
                    <label v-else @click="gotoLogin" class="addBtnLabel">
                        紀錄<br/>飲食
                    </label>
                </md-button>
                <input id="take_picture" type="file" accept="image/*" style="display:none" @change="handleCreateImage('caloria',0,closeDial)">
<!--
                <md-button class="md-icon-button custom-mid custom-default">
                    <label v-if="$store.getters.authStatus.isLogin" class="addBtnLabel" @click="gotoContent('life')">
                        發表<br/>貼文
                    </label>
                    <label v-else @click="gotoLogin" class="addBtnLabel">
                        發表<br/>貼文
                    </label>
                </md-button>!-->

            </md-speed-dial-content>
        </md-speed-dial>
    </div>
</template>

<script>

    export default {
        name: "tabbar",
        props: {
            tabname: {
                type: String,
                default: ()=> {
                    return 'home'
                }
            }
        },
        data() {
            return {
                isOpenDial: false
            }
        },
        mounted() {

            let h = window.innerHeight;
            let bottom = 70 - h;

            $("#speedDial").css({ bottom: bottom + 'px'});
        },
        methods: {
            gotoLogin(e) {
                e.preventDefault();
                this.$router.push({name:'login', query: {so88:true, device_token: deviceToken, device_type: deviceType}})
            },
            gotoContent(type) {
                let _this = this;
                this.$store.dispatch("clearCreateImage");

                this.closeDial();

                _this.$router.push({ name: 'create.content', query: {type: type}})
            },
            checkAuth(router_obj) {
                let _this = this;
                _this.auth(()=> {
                    if (typeof(router_obj) !== null) {
                        _this.$router.push(router_obj);
                    }
                },()=> {
                    _this.$router.push({name:'login', query: {so88:true, device_token: deviceToken, device_type: deviceType}});
                })
            },
            closeDial() {
                $(".dial-custom-class .md-ripple").trigger('click');
            }
        }
    }
</script>

<style scoped>
    .toolbar-badge {
        background: #FD4D59;
        width: 18px;
        height: 18px;
        border-radius: 16px;
        position: absolute;
        top: 5px;
        left: 15px;
        font-size: 12px;
        color: #FFF;
        font-weight: bold;
        line-height: 18px;
    }
    .custom-default {
        background: #FAFAFA !important;
    }
    .custom-big {
        width: 60px;
        height: 60px;
        min-width: 60px;
        /*height: 60px;*/
        font-size: 14px;
        margin: 0 -6px 6px -6px;
        display: flex;
        align-items: center;
    }
    .custom-mid {
        width: 50px;
        height: 50px;
        min-width: 50px;
        /*height: 50px;*/
        margin-top: 6px;
        display: flex;
        align-items: center;
    }
</style>