<template>
    <section class="user-items">
        <div class="user-items-inner">
            <div class="profile_image" @click.prevent="gotoProfile">
                <div class="badge" v-if="badgeCount > 0 && (type == 'other_dynamic' || type == 'rate')">{{ badgeCount }}</div>
                <img v-if="row.user_img != ''" :src="row.user_img" alt="">
                <img v-else src="/images/default_user_img.jpg" alt="">
            </div>
            <div class="profile_info">
                <div class="profile_info-inner" @click.prevent="gotoImage">
                    <span class="name">
                        <span :class="row.user_role == 'patient' ? '' : 'expert'">{{ row.user_name }}</span>
                        <span>{{ row.user_role == 'patient' ? '' : '&nbsp;&nbsp;&nbsp;&nbsp;' }}</span>
                        <span class="desp" v-if="type == 'my_dynamic'">
                            <span v-if="row.type == 'like'">對你的{{ row.show_image != null ? '照片' : '貼文'}}按讚</span>
                            <span v-else-if="row.type == 'unlike'">對你的{{ row.show_image != null ? '照片' : '貼文'}}取消按讚</span>
                            <span v-else-if="row.type == 'track'">
                                開始追蹤你
                                <span v-if="row.track_approve == 0" style="display: block;margin-top: 8px; margin-bottom: 3px">
                                    <span class="sub-btn" @click.stop="trackEvent('deny')">拒絕</span> &nbsp;&nbsp;
                                    <span class="sub-btn" @click.stop="trackEvent('allow')">接受</span>
                                </span>
                                <span v-else>
                                    <span v-if="row.track_approve == -1">(已拒絕)</span>
                                </span>
                            </span>
                            <span v-else-if="row.type == 'track_approve'">同意你的追蹤</span>
                            <span v-else-if="row.type == 'track_deny'">拒絕你的追蹤</span>
                            <span v-else-if="row.type == 'untrack'">開始取消追蹤你</span>
                            <span v-else-if="row.type == 'rated'">
                                <!--營養師-->
                                <span v-if="row.is_edit == 1">已修改</span>
                                <span v-else>已評分</span>
                            </span>
                            <span v-else>
                                 在你的{{ row.show_image != null ? '照片' : '貼文'}}留言
                            </span>
                        </span>
                        <span v-else-if="type == 'rate'">
                            上傳了{{ row.badge  }}張食物照片
                        </span>
                    </span>
                    <!--<br/>-->
                    <div>
                        <span class="trace">
                            <span v-if="type == 'search'">
                                <span v-if="row.track == 0">審核中</span>
                                <span v-else-if="row.track == 1">追蹤中</span>
                                <span v-else-if="row.track == -1">已拒絕</span>
                                <span v-else></span>
                            </span>
                            <span v-else-if="type == 'other_dynamic'">
                                <span v-if="row.is_edit == 1">修改了</span>
                                <span v-else>上傳了</span>
                                <span v-if="Array.isArray(row.type)">
                                    <span>
                                        {{ showType }}
                                    </span>
                                </span>
                                <span v-else>
                                    <span v-if="row.type == 'caloria'">食物照片</span>
                                    <span v-else-if="row.type == 'bp'">血壓</span>
                                    <span v-else>生活照片</span>
                                </span>

                            </span>
                            <span v-else-if="type == 'rate'">待評分</span>
                            <span v-else>
                                {{ row.diff_time }}
                            </span>
                        </span>
                    </div>
                </div>

                <div v-if="row.show_image != null" class="notice-image">
                    <div :style="{'background':'url(' + row.show_image + ')', 'width': '50px', 'height': '50px', 'background-size': 'contain','background-position': 'center','background-repeat': 'no-repeat', 'border': '1px solid #EEE'}"></div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "search-list",
        props:['type','row'], // type = [search,other_dynamic,my_dynamic,rate(營養師個人顯示頁首頁)]
        methods:{
            trackEvent(type) {
                let formData = {
                    from: this.row.user_unique,
                    approve: type == "allow" ? 1 : -1
                }
                this.row.track_approve = formData.approve;

                axios.post('/api/track/approve',formData).then(()=> {
                }).catch(function() {
                }.bind(this));
            },
            gotoProfile() {

                if (this.type == 'other_dynamic' || this.type == 'rate') {
                    this.handleBadge();
                }

                this.$router.push({name:'profile.images',params:{unique: this.row.user_unique}})

            },
            gotoImage() {

                if (this.row.type == 'track' || this.row.type == 'track_approve' || this.row.type == 'track_deny' || this.row.type == 'untrack' || this.type == 'search') {
                    this.gotoProfile();
                }else {


                    if( (this.type == 'other_dynamic' && this.row.message_count > 1) || (this.type == 'rate' && this.row.message_count > 1)) {
                        this.handleBadge();
                        this.$router.push({name:'profile.images',params:{unique: this.row.user_unique}})
                    }else {
                        if (this.$store.getters.user.role == 'nutritionist' && this.$store.getters.user.id == this.row.parent_unique && this.row.type == 'caloria') {
                            this.handleBadge();
                            this.$router.push({name:'image.rate',params:{unique: this.row.relative_unique}});
                        }else {
                            this.handleBadge();
                            this.$router.push({name:'image.show',params:{unique: this.row.relative_unique}})
                        }
                    }
                }

            },
            handleBadge() {
                let _this = this;
                let user = _this.$store.getters.user;
                let old_badge = 0;

                if (_this.row.badge && this.type != 'rate') {
                    old_badge = _this.row.badge;
                    this.row.badge = 0;
                    user.notice_badge = user.notice_badge - old_badge;
                    _this.$store.dispatch("updateUser",user);

                    let formData = new FormData;
                    formData.append('user_id',this.row.user_unique);
                    formData.append('type',this.row.type);

                    axios.post('/api/notice/other/read',formData).then(()=> {
                    }).catch(function() {
                    }.bind(this));
                }


            }
        },
        computed: {
            badgeCount() {
                return this.row.badge > 99 ? 99 : this.row.badge;
            },
            showType() {

                let newType = [];
                for(let key in this.row.type) {
                    let type = this.row.type[key]
                    if (type == 'caloria') {
                        newType.push('食物')
                    }else if(type == 'bp'){
                        newType.push('血壓')
                    }else {
                        newType.push('生活');
                    }
                }

                return newType.join("、");
            }
        }
    }
</script>

<style scoped>
    .sub-btn {
        font-size: 12px;
        padding: 2px;
        border: 1px solid #c0c0c0;
        border-radius: 2px;
    }
</style>