<template>
    <div class="profile-track">
        <template v-if="data.length > 0">
            <user-item v-for="row in data" :row="row" :key="row.user_id" :type="'search'"></user-item>
        </template>
        <template v-else-if="!isLoad">
            <div class="no-data-block" style="padding: 0">
                無追縱好友
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "profile-tracks",
        mounted() {
            this.loadData();
        },
        data() {
            return {
                isLoad: false,
                data:[]
            }
        },
        methods:{
            loadData() {
                let _this = this;
                if (!_this.isLoad) {
                    _this.isLoad = true;
                    let unique = typeof(_this.$route.params.unique) == 'undefined' ? '' : _this.$route.params.unique;
                    axios.get('/api/track/list/'+unique).then(function(res){
                        _this.data = res.data.data;
                        _this.isLoad = false;
                    }).catch(function(){
                        _this.isLoad = false;
                    }.bind(this));
                }

            }
        }
    }
</script>

<style scoped>

</style>