<template>
    <div class="user-info">
        <!--
        <div class="tab-switch" v-if="user.role == 'patient'">
            <router-link :to="{name:'profile.info.data',params:{unique:user.unique},query:{time:$store.getters.queryTime}}" class="tab" :class="$route.name == 'profile.info.data' ? 'active':''">資料</router-link>
            <router-link :to="{name:'profile.info.chart',params:{unique:user.unique},query:{time:$store.getters.queryTime}}" class="tab" :class="$route.name == 'profile.info.chart' ? 'active':''">趨勢圖</router-link>
        </div>!-->
        <router-view :user="user"></router-view>
    </div>
</template>

<script>
    export default {
        name: "profile-info",
        props: {
            /*
            user_id: {
                type: [String,Number],
            }*/
            user: {
                type: Object,
                default: ()=> {
                    return {
                        role: 'patient',
                        unique: 0
                    }
                }
            }
        },
        mounted() {

        },
        data() {
            return {
            }
        },
        watch: {
        }
    }
</script>

<style scoped>

</style>