<template>
    <div class="profile-friend-images">

        <div class="card-placeholder" style="margin-top: 20px" v-if="isInitPlaceholder">
            <content-placeholders v-for="n in 10" :key="n">
                <content-placeholders-heading :img="true"/>
                <content-placeholders-text :lines="3" />
                <br/>
            </content-placeholders>
        </div>

        <div v-else>
            <div v-if="data.length > 0">
                <card-share v-for="(row,key) in data" :row="row" :key="key"></card-share>
            </div>
            <div v-else>
                <div class="no-data-block">
                    無追縱內容
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "profile-friend-images",
        mounted(){
            let _this = this;
            this.loadData(function() {
                _this.isInitPlaceholder = false;
            });
        },
        data() {
            return {
                isInitPlaceholder: true,
                isLoad: false,
                data: [],
                pagination: {
                    next_page_url: '/api/home/track/'+(typeof(this.$route.params.unique) == 'undefined' ? '' : this.$route.params.unique),
                }
            }
        },
        methods: {
            handleScroll() {

                let nearHeight = $(".card-share:last").height() * 3;
                if($(window).scrollTop() + $(window).height() > $(document).height() - nearHeight) {
                    this.loadData();
                }

            },
            loadData(callback) {

                let _this = this;

                if (_this.pagination.next_page_url !== null) {
                    if (!_this.isLoad) {
                        _this.isLoad = true;
                        axios.get(_this.pagination.next_page_url).then(function (res) {
                            _this.pagination.next_page_url = res.data.next_page_url
                            _this.data = _this.data.concat(res.data.data);
                            _this.isLoad = false;
                            if (callback) {
                                callback();
                            }
                        }).catch(function () {
                            _this.isLoad = false;
                            if (callback) {
                                callback();
                            }
                        }.bind(this))
                    }
                }else {
                    _this.isLoad = false;
                }
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style scoped>

</style>