<template>
    <div class="self-images" v-cloak>
        <template v-if="data.length > 0">
            <div class="item-outside" v-for="(row,rowKey) in data" :key="row.date">
                <div class="title">
                    {{ row.date|formatDate }}
                </div>
                <div class="item-inner">
                    <div class="item" v-for="(img,key) in row.images" :key="img.unique" @click.prevent="gotoImage(rowKey,key)">
                        <template v-if="img.photo">
                            <div class="img" :style="{'background':'#000000 url('+img.photo+') 50% 50% no-repeat'}"></div>
                        </template>
                        <template v-else>
                            <!--<img src="/images/placeholder_90.jpg" alt="">-->
                        </template>

                        <div class="red-circle" :class="{'hidden':img.check}"></div>
                    </div>
                </div>
            </div>
        </template>
        <template>
            <div v-if="isLoad" style="text-align: center">
                <img src="/images/ripple-loading.svg" alt="">
            </div>
            <div v-else>
                <div v-if="data.length == 0">
                    <div class="no-data-block" v-if="$store.getters.user.id == $route.params.unique">
                        點擊下方工具列的圓形按鈕，開始上傳圖片吧！
                    </div>
                    <div class="no-data-block" v-else>
                        無可瀏覽之圖片
                    </div>
                </div>

            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "profile-images",
        props:['user'],
        mounted() {
            this.loadData();
        },
        data() {
            return {
                isLoad: false,
                data: [],
                pagination: {
                    previous_date: moment().format("YYYY-MM-DD")
                },
                selected: null
            };
        },
        methods: {
            handleScroll() {

                let nearHeight = $(".item-outside:last").height() + $(".item-outside:nth-last-child(2)").height();

                if($(window).scrollTop() + $(window).height() > $(document).height() - nearHeight) {
                    this.loadData();
                }

            },
            gotoImage(rowKey,key) {

                this.selected = [rowKey,key];
                let img = this.data[this.selected[0]].images[this.selected[1]];
                if (this.$store.getters.user.role == 'nutritionist' && img.rate) {
                    this.$router.push({name:'image.rate',params:{unique:img.unique}, query:{q: this.checkImg }});
                }else {
                    this.$router.push({name:'image.show',params:{unique:img.unique}, query:{q: this.checkImg, show_page: true }});
                }
            },
            checkImg(callback) {

                console.log(this.selected);
                console.log(this.data[this.selected[0]].images[this.selected[1]]);
                this.data[this.selected[0]].images[this.selected[1]].check = true;

                console.log('Check Result',this.data[this.selected[0]].images[this.selected[1]].check);

                if(typeof(callback) !== 'undefined') {
                    callback();
                }
            },
            loadData() {
                let _this = this;
                let formData = {};

                if (_this.pagination.previous_date !== null) {

                    if (!_this.isLoad) {

                        console.log('load Data ',_this.pagination.previous_date);
                        _this.isLoad = true;
                        axios.get('/api/member/diet/list/'+this.$route.params.unique+'/'+_this.pagination.previous_date, formData)
                            .then(function (response) {
                                _this.pagination.previous_date = response.data.previous_date;
                                _this.data = _this.data.concat(response.data.data);
                                _this.isLoad = false;
                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                                _this.isLoad = false;
                            }.bind(this));
                    }

                }else {
                    _this.isLoad = false;
                }
            },
        },
        filters: {
            formatDate: function (value) {

                return moment(value).format("MM.DD | dddd");
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style scoped>

</style>