<template>
    <div class="so88-container">
        <navbar-title></navbar-title>
        <div class="close-icon" @click="goback">
            <i class="f7-icons">close</i>
        </div>
        <div class="content" style="width: 300px; margin: 0 auto;">
            <div style="margin-top: 80px;text-align: center">
                <h2>忘記密碼</h2>
            </div>
            <br/>
            <div>
                輸入您的登入Email，將會寄送郵件到您的Email，協助您做密碼變更
            </div>
            <br/>
            <div>
                <input type="text" class="input-style" placeholder="登入帳號" v-model="email">
            </div>
            <br/>
            <div @click="clickForgot">
                <input type="button" value="送出" class="input-button"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "forgot",
        mounted() {

        },
        data() {
            return {
                email: ''
            }
        },
        methods: {
            goback() {
                this.$router.go(-1);
            },
            clickForgot() {
                let _this = this;
                let data = {
                    email: this.email
                };

                if (this.email == "") {
                    _this.$root.$refs.alert.show("註冊Email必填");
                    return ;
                }

                axios.post('/api/mobile/forgot',data)
                    .then(function (response) {
                        _this.$root.$refs.alert.show("已將變更信件寄到您的Email",()=> {
                            _this.goback();
                        });

                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
            }
        },
        created () {
        },
        destroyed () {
        }
    }
</script>

<style scoped>

</style>