<template>
    <div class="so88-container">
        <!--<navbar-title></navbar-title>-->
        <tabbar :tabname="tabname"></tabbar>
        <div class="content refresh-before">
            <!--
            <div class="card-placeholder" v-if="isInitPlaceholder">
                <content-placeholders v-for="n in 10" :key="n">
                    <content-placeholders-heading :img="true"/>
                    <content-placeholders-text :lines="3" />
                    <br/>
                </content-placeholders>
            </div>!-->

            <template v-if="data.length > 0">
                <template v-for="(row,key) in data">
                    <card-share  :row="row" :key="key" @confirmModal="confirmModal" @deleteCardFromParent="deleteCard(key)"></card-share>
                </template>
                <br/>
                <br/>
                <br/>
                <br/>
            </template>
            <template>
                <div style="display: flex; justify-content: center; align-items: center; font-size: 16px;" :style="{'height': data.length == 0 ? 'calc(100vh - 180px)' : 'auto' }">
                    <div v-if="isLoad">
                        <img src="/images/ripple-loading.svg" alt="">
                    </div>
                    <a v-else-if="data.length == 0" href="/">點擊右下按鈕，上傳你的飲食照或血壓吧！</a>
                </div>
            </template>

        </div>
    </div>
</template>

<script>
    var MobileDetect = require('mobile-detect');
    export default {
        name: "home",
        mounted() {

            let _this = this;

            let md = new MobileDetect(window.navigator.userAgent);

            //$("body").prepend("<br/><h1>" + md.os() + "</h1>");
            if (_this.$store.getters.user.id > 0 || (md.os() != "AndroidOS" && ((!md.is('iPhone') && !md.is('iPad')) || md.os() == "iOS") )) {
                //$("body").prepend("<br/><h1>Home Mount" + md.os() + "</h1>");
               _this.init();
            }


        },
        data() {
            return {
                isInitPlaceholder: true,
                isLoad: false,
                tabname: 'home',
                data: [],
                pagination: {
                    next_page_url: '/api/home',
                }
            }
        },
        methods: {
            init() {
                let _this = this;

                this.auth(()=> {
                    if (_this.$store.getters.user.tall == "") {
                        _this.$router.push({name:"signup"})
                    }
                },()=> {
                })

                this.$store.dispatch("updateTabname",this.tabname);
                this.loadData(function() {
                    _this.isInitPlaceholder = false;
                });
            },
            deleteCard(key) {
                this.data.splice(key,1)
            },
            confirmModal() {
                this.$root.$refs.confirm.showAuth();
            },
            handleScroll() {

                if ($(window).scrollTop() <= -180) {
                    this.refresh();
                    return;
                }

                let nearHeight = $(".card-share:last").height() * 3;
                if($(window).scrollTop() + $(window).height() > $(document).height() - nearHeight) {
                    this.loadData();
                }

            },
            loadData(callback) {

                let _this = this;
                let formData = {};

                if (_this.pagination.next_page_url !== null) {

                    if (!_this.isLoad) {
                        console.log('load Data ',_this.pagination.next_page_url);
                        _this.isLoad = true;
                        axios.get(_this.pagination.next_page_url, formData)
                            .then(function (response) {
                                _this.pagination.next_page_url = response.data.next_page_url
                                _this.data = _this.data.concat(response.data.data);
                                _this.isLoad = false;
                                if (callback) {
                                    callback()
                                }
                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                                _this.isLoad = false;
                                if (callback) {
                                    callback()
                                }
                            }.bind(this));
                    }

                }else {
                    _this.isLoad = false;
                }
            },
            refresh() {
                setTimeout(()=> {
                    location.reload();
                },50)
            }
        },
        watch: {
            '$store.getters.user.id': function (val) {
                this.init();
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style scoped>

</style>