<template>
    <div class="so88-container">
        <br/><br/>
        <div class="content">
            <navbar :title="'相片'" :rightAction="submit" :leftAction="historyBack">
                <div v-if="!data.check" slot="right_slot" class="continue"></div>
            </navbar>
            <div class="content-show">
                <card-share :row="data" :show_page="true"></card-share>
            </div>
            <tabbar :tabname="$store.getters.tabname"></tabbar>
        </div>
    </div>
</template>

<script>
    export default {
        name: "image-show",
        props:['query'],
        mounted() {
            let _this = this;

            this.auth(() => {},()=>{});

            this.$nextTick(()=> {
                _this.loadData();
            })

        },
        data() {
            return {
                data: {}
            }
        },
        methods: {
            historyBack() {
                if (this.$route.query.is_edit) {
                    this.$router.push({name:'profile.images',params:{unique: this.data.user_unique}});
                }else{
                    this.$router.go(-1);
                }

            },
            submit() {
                let _this = this;
                if (_this.data.read == 0) {
                    axios.post('/api/diet/read/'+_this.$route.params.unique).then(function(res) {
                    }).catch(function(error){
                        if (error.response && error.response.status === 400) {
                            _this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this))
                }
                if (typeof(_this.query) !== 'undefined') {
                    _this.query(()=> {
                        _this.$router.go(-1);
                    });
                }else {
                    _this.$router.go(-1);
                }

            },
            loadData() {
                let _this = this;

                axios.get('/api/diet/show/'+_this.$route.params.unique)
                    .then(function (response) {

                        if (response.data.status == '200') {
                            _this.data = response.data;
                            console.log( _this.data);
                        }else {
                            if (response.data.status == '403') {
                                _this.$root.$refs.alert.show("很抱歉，您無此貼文的訪問權限<br/>按下確定後，返回上一頁",function() {
                                    _this.$router.go(-1);
                                })
                            }else {
                                _this.$root.$refs.alert.show("該貼文已被刪除<br/>按下確定後，返回上一頁",function() {
                                    _this.$router.go(-1);
                                })
                            }

                        }

                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
            }
        }
    }
</script>

<style scoped>
    .create-head + .content-show{
        margin-top: 60px;
    }
</style>