<template>
    <div class="so88-container">
        <div class="content">
            <navbar :rightAction="submit"></navbar>
            <div class="preview-content">
                <div class="preview-content-inner">
                    <div class="image-inner">
                        <div class="image-content" :style="{'background':'url('+data.photo+')'}">
                            <!--<img :src="data.image" alt="">-->
                            <div class="image-created">{{ data.created_at }}</div>
                        </div>
                        <div class="image-info image-name">{{ data.name }}</div>
                        <div class="image-info image-desp">{{ data.desp }}</div>

                    </div>
                    <div class="columns-inner">
                        <div>
                            <div class="columns">
                                <label for="">蛋白質(份)</label>
                                <div class="input-value">
                                    <input type="number" :placeholder="ratePlaceholderProtein" v-model="data.protein" :disabled="inputDisabled">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="meal_time">醣類(份)</label>
                                <div class="input-value">
                                    <input type="number" :placeholder="ratePlaceholderSugar" v-model="data.sugar" :disabled="inputDisabled">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="meal_time">脂肪(份)</label>
                                <div class="input-value">
                                    <input type="number" :placeholder="ratePlaceholderFat" v-model="data.fat" :disabled="inputDisabled">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="meal_time">卡路里</label>
                                <div class="input-value">
                                    <input type="number" v-model="calorie" :disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 85%; margin: 15px auto;">
                        <label>評論</label>
                        <div>
                            <textarea name="" cols="30" rows="4" placeholder="評論" v-model="data.remark" style="border: 1px solid #c9c9c9; width: 100%;"></textarea>
                        </div>
                    </div>

                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "image-rate",
        props:['query'],
        data() {
          return {
              router: {
                  from: {}
              },
              data: {
                  photo: '',
                  name: '',
                  created_at: '',
                  sugar: null,
                  fat: null,
                  protein: null,
                  desp: '',
                  remark: ''
              }
          }
        },
        beforeRouteEnter(to, from, next) {
            console.log(to, from)
            next(vm=>{
                vm.router.from = from;
            })
        },
        mounted() {
            let _this = this;

            this.auth(()=> {
                _this.loadData();
            },()=> {
                _this.$router.replace({name:'image.show',params:{unique:_this.$route.params.unique}});
            })

        },
        methods: {
            submit() {
                let _this = this;
                let formData = new FormData();
                formData.append('sugar', _this.data.sugar);
                formData.append('fat', _this.data.fat);
                formData.append('protein', _this.data.protein);
                formData.append('remark', _this.data.remark)

                axios.post('/api/diet/rate/'+_this.$route.params.unique,formData).then(function() {
                }).catch(function(error) {
                    if (error.response && error.response.status === 400) {
                        this.errors.setMessages(error.response.data.messages);
                    }
                }.bind(this));

                try{
                    if (typeof(_this.query) !== 'undefined') {
                        _this.query(()=> {
                            _this.queryCallback();
                        });
                    }else {
                        _this.queryCallback();
                    }
                }catch(e) {
                    console.log(e.message);
                    _this.queryCallback();
                }
            },
            queryCallback() {
                let _this = this;
                /*
                if (_this.router.from) {
                    _this.$store.dispatch("updateQueryTime");
                    _this.$router.push({
                        path: _this.router.from.path,
                        query: {
                            time: _this.$store.getters.queryTime
                        }
                    })
                }else {
                    _this.$router.go(-1);
                }*/
                _this.$router.go(-1);
            },
            loadData() {
                let _this = this;

                axios.get('/api/diet/show/'+_this.$route.params.unique)
                    .then(function (response) {
                        let data = response.data
                        _this.data.photo = data.photo;
                        _this.data.name = data.name;
                        _this.data.created_at = moment(data.meal_time).format('YYYY-MM-DD HH:mm');
                        _this.data.sugar = data.sugar;
                        _this.data.protein = data.protein;
                        _this.data.fat = data.fat;
                        _this.data.desp = data.desp;//data.comments.length > 0 ? data.comments[0]['message'] : '';
                        _this.data.remark = data.remark;
                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
            }
        },
        computed: {
            calorie: function() {
                return Math.round(this.data.sugar * 70 + this.data.protein * 75 + this.data.fat * 45)
            },
            inputDisabled() {
                return this.$store.getters.user.role == 'nutritionist' ? false : true;
            },
            ratePlaceholderSugar() {
                return this.data.sugar ? '' : '待評'
            },
            ratePlaceholderFat() {
                return this.data.fat ? '' : '待評'
            },
            ratePlaceholderProtein() {
                return this.data.protein ? '' : '待評'
            }
        }
    }
</script>

<style scoped>
    .so88-container .content .preview-content {
        margin-top: 60px !important;
    }
    .image-content {
        position: relative;
        width: 100%;
        padding-top: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .image-created {
        position: absolute;
        width: 125px;
        background: rgba(0,0,0,0.5);
        right: 0px;
        bottom: 0px;
        color: #FFF;
    }
    .image-info {
        margin: 0 auto;
        text-align:left;
    }
    .image-name {
        color: #000;
        font-size: 1.6rem;
    }
    .image-desp {
        color: #A5A6A8;
    }
    .image-inner {
        border-bottom: 1px solid #eeeeee;
        width: 85%;
        margin: 0 auto;
    }
    .columns-inner {
        text-align: center;
        margin: 0 0 0 35px !important;
    }
    .image-inner:after {
        height: 10px !important;
    }
    .columns {
        display: inline-block;
        width: 45%;
    }
    .columns label {
        width: 100%;
        color: #A5A6A8;
        text-align: left;
    }
    .columns .input-value {
        width: 80%;
        text-align: left;
    }
    input[disabled] {
        background: transparent;
    }
    /*
    .columns-inner:after {
        content: "";
        width: 100%;
        display: block;
        height: 80px;
    }*/


</style>