<template>
    <div class="so88-container">
        <navbar-title></navbar-title>
        <div class="close-icon" @click="goback">
            <i class="f7-icons">close</i>
        </div>
        <div class="content">


            <div style="margin-top: 50px;" class="signin" >
                <!--
                <md-field md-inline>
                    <label style="width:100%">推薦人代碼</label>
                    <md-input style="text-align: center" v-model="recommand"></md-input>
                </md-field>
                !-->
                <br/>
            </div>


            <div id="login-page">

                <div class="signin line-signin" @click="signin('line')">
                    LINE 登入
                </div>

                <div class="signin facebook-signin" @click="signin('facebook')">
                    Facebook 登入
                </div>


                <br/>
                <hr/>

                <div class="signin">
                    <input type="text" name="email" placeholder="Email" v-model="email"/>
                </div>

                <div class="signin">
                    <input type="password" name="password" placeholder="密碼" v-model="password"/>
                </div>

                <div class="add_func">
                    <div><a href="/forgot">忘記密碼</a></div>
                    <div><a href="/register">我要註冊</a></div>
                </div>

                <div class="signin so88-signin" @click="signin('so88')">
                    登入
                </div>

            </div>


        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                recommand: '',
                email: '',
                password: ''
            }
        },
        mounted(){
            let _this = this;
            this.isNativeApp(()=> {
                _this.gotoLoginPage();
            },()=> {

            })

            this.getDeviceToken();
        },
        methods: {
            goback() {
                this.$router.go(-1);
            },
            signin(type) {

                let _this = this;

                let recommand = typeof(_this.$route.params.recommand) === 'undefined' ? _this.recommand : _this.$route.params.recommand;
                if (type == 'line') {
                    location.href = "/login/line/" + recommand + '?device_token=' + deviceToken + '&device_type=' + deviceType;
                }else if (type == 'facebook'){
                    location.href = "/login/facebook/" + recommand + '?device_token=' + deviceToken + '&device_type=' + deviceType;
                }else {

                    if (this.email != '' && this.password != '') {
                        let data = {
                            device_token: '',
                            device_type: '',
                            access_token: '',
                            login_type: 'so88',
                            email: this.email,
                            password: this.password
                        }

                        axios.post('/api/mobile/login',data)
                            .then(function (response) {
                                let data = response.data
                                if (data.code == 200) {
                                    axios.post('/api/mobile/setLogin',{access_token: data.data.access_token, code: data.data.code}).then((res)=> {
                                        location.href = "/"
                                    })
                                }else if ( data.code == 405 ) {

                                    _this.$root.$refs.confirm.show("帳號尚未啟用","請到您的註冊Email收信，激活帳號", null, ()=> {
                                        axios.post('/api/mobile/send/active',{email: _this.email}).then((res)=> {
                                            _this.$root.$refs.alert.show("已重新寄送");
                                        })
                                    },"確定","重新寄送");
                                }else {
                                    _this.$root.$refs.alert.show("帳號或密碼有誤");
                                }

                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                            }.bind(this));
                    }else {
                        _this.$root.$refs.alert.show("帳號及密碼必填");
                    }


                }

            }

        }
    }
</script>

<style scoped lang="scss">
    #login-page {
        width: 80%;
        margin: 0px auto 0 auto;
    }
    .signin {
        height: 50px;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
        color: #FFF;
        font-size: 2rem;
        padding: 10px 0;
        cursor: pointer;
    }
    .signin + .signin {
        margin-top: 30px;
    }
    .line-signin {
        background: #5CD144;
    }
    .facebook-signin {
        background: #446AA2;
    }
    .so88-signin {
        background: #74B5C3;
    }
    input{
        width: 100%;
        height: 50px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid #E0E0E0;
        color: #000
    }
    .add_func {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        font-size: 16px;
        a {
            color: #757575;
            text-decoration: none;
            &:hover {
                color: #757575;
                font-weight: bold;
            }
        }
    }
</style>