<template>
    <div class="so88-container">
        <div class="content margin-toolbar refresh-before">
            <div style="width: 90%; margin: 0 auto;text-align: right;margin-top: 8px;">
                <span style="cursor: pointer;" @click="readAll">全部標示已讀</span>
            </div>
            <div class="user-items-title user-items-newnotice" >
                <div class="title notice">新動態</div>
                <template v-if="data.other_dynamic.length > 0 || data.other_dynamic_read.length > 0">
                    <user-item v-for="(row,key) in data.other_dynamic" :row="row" :type="'other_dynamic'" :key="'unread_'+key"></user-item>
                    <user-item v-for="(row,key) in data.other_dynamic_read" :row="row" :type="'other_dynamic'" :key="'read_'+key"></user-item>
                </template>
                <template v-else>
                    <div class="no-user-items text-center">無新動態</div>
                </template>
            </div>

            <div class="user-items-title user-items-notice">
                <div class="title notice">動態</div>
                <template v-if="data.my_dynamic.length > 0">
                    <user-item v-for="(row,key) in data.my_dynamic" :row="row" :type="'my_dynamic'" :key="key"></user-item>
                </template>
                <template v-else>
                    <div class="no-user-items text-center">無動態</div>
                </template>
            </div>
        </div>
        <tabbar :tabname="tabname"></tabbar>
    </div>
</template>

<script>
    export default {
        name: "notice",
        mounted() {

            let _this = this;
            this.auth(function() {
                _this.loadData();
                _this.$store.dispatch("updateTabname",_this.tabname);
            })
        },
        data() {
            return {
                tabname: 'notice',
                data: {
                    other_dynamic:[],
                    other_dynamic_read:[],
                    my_dynamic:[]
                }
            }
        },
        methods: {
            handleScroll() {

                if ($(window).scrollTop() <= -180) {
                    this.refresh();
                    return;
                }

            },
            loadData() {
                let _this = this;
                axios.get('/api/notice/').then((res)=> {
                    _this.data.my_dynamic = res.data.my_dynamic;
                    _this.data.other_dynamic = res.data.other_dynamic;
                    _this.data.other_dynamic_read = res.data.other_dynamic_read;
                    _this.readMyDynamic();
                }).catch(function() {

                }.bind(this))
            },
            readMyDynamic() {
                let _this = this
                axios.post('/api/notice/my/read').then((res)=> {
                    setTimeout(function() {
                        let user = _this.$store.getters.user;
                        user.notice_badge = res.data.badge;
                        _this.$store.dispatch("updateUser",user);
                    },1800)
                }).catch(function() {}.bind(this))
            },
            readAll() {
                let _this = this

                let user = _this.$store.getters.user;
                user.notice_badge = 0;
                _this.$store.dispatch("updateUser",user);

                axios.post('/api/notice/all/read').then((res)=> {
                    location.reload();
                }).catch(function() {}.bind(this))
            },
            refresh() {
                setTimeout(()=> {
                    location.reload();
                },50)
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style scoped>

</style>