<template>
    <div class="so88-container">
        <profile-title :subTabname="$route.name" :user_id="user_id"></profile-title>
        <div class="content">
            <router-view :user="user"></router-view>
        </div>
        <tabbar :tabname="tabname"></tabbar>
    </div>
</template>

<script>
    export default {
        name: "profile",
        mounted() {

            let _this = this;

            this.auth(() => {
                _this.init();
            },()=>{
                _this.getUserId();
            });

        },
        data() {
            return {
                tabname: 'profile',
                data:{},
                user_id: 0,
                user: {}
            }
        },
        methods: {
            init() {
                let _this = this;
                _this.getUserId();
                _this.$store.dispatch("updateTabname",_this.tabname);
            },
            getUserId() {
                let _this = this;
                this.user_id = typeof(this.$route.params.unique) === 'undefined' || this.$route.params.unique == 0 ? this.$store.getters.user.id : this.$route.params.unique;
                if (typeof(_this.user_id) === 'undefined' || _this.user_id == 0) {
                    _this.$router.replace({name:'login'});
                }
            }
        }
    }
</script>

<style scoped>
</style>