<template>
    <div>
        <md-list>
            <md-subheader>
                隱私設定
                <div class="close-icon" @click="goback">
                    <i style="cursor: pointer" class="f7-icons">close</i>
                </div>
            </md-subheader>

            <md-list-item style="height: calc(100vh - 48px);">
                <div style="width: 100%">
                    <div class="md-layout-item">
                        <md-field class="md-has-value">
                            <label for="share_type">貼文設定</label>
                            <!--
                            <select  v-model="post_share_type" name="share_type" id="share_type" @change="submit" style="text-transform: none; width: 100%; margin-top: 10px; border: none;">
                                <option value="public" v-if="user.role == 'nutritionist'">公開</option>
                                <option value="expert">專家(醫生、營養師)</option>
                                <option value="tracker">追蹤我的人</option>
                                <option value="me">只限本人</option>
                            </select>!-->

                            <md-select v-model="post_share_type" name="share_type" id="share_type" md-dense @md-selected="submit">
                                <md-option value="public">公開</md-option>
                                <md-option value="expert">僅限專家</md-option>
                                <md-option value="tracker">追蹤我的人</md-option>
                                <md-option value="me">只限本人</md-option>
                            </md-select>

                        </md-field>

                        <md-field class="md-has-value" v-if="is_admin == 1">
                            <label for="god_vw">上帝視角</label>

                            <md-select v-model="god_vw" name="god_vw" id="god_vw" md-dense @md-selected="submit_godvw">
                                <md-option value="0">關閉</md-option>
                                <md-option value="1">打開</md-option>
                            </md-select>
                        </md-field>
                    </div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</template>

<script>
    export default {
        name: "profile-edit",
        mounted() {
            let _this = this;

            this.auth(()=> {
                _this.user = this.$store.getters.user;
                _this.post_share_type = _this.user.post_share_type;
                _this.is_admin = _this.user.is_admin;
                _this.god_vw = _this.user.god_vw;
            })
        },
        data() {
            return {
                user: {
                    role: 'patient'
                },
                post_share_type: 'expert',
                is_admin: 0,
                god_vw: 0
            }
        },
        methods: {
            goback() {
                this.$router.go(-1);
            },
            submit_godvw() {
                let _this = this;

                setTimeout(function() {

                    let user = _this.user;
                    user.god_vw = _this.god_vw
                    _this.$store.dispatch("updateUser",user);

                    let formData = new FormData();

                    formData.append('god_vw',_this.god_vw);

                    axios.post('/api/member/god_vw/save',formData)
                        .then((response)=> {
                        }).catch(function(error) {
                        if (error.response && error.response.status === 400) {
                            _this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(_this));

                },30)
            },
            submit() {

                let _this = this;


                setTimeout(function() {

                    let user = _this.user;
                    user.post_share_type = _this.post_share_type
                    _this.$store.dispatch("updateUser",user);

                    let formData = new FormData();

                    formData.append('post_share_type',_this.post_share_type);

                    axios.post('/api/member/privacy/save',formData)
                        .then((response)=> {
                        }).catch(function(error) {
                        if (error.response && error.response.status === 400) {
                            _this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(_this));

                },30)
            },
        }
    }
</script>

<style scoped>
    .f7-icons {
        font-size: 1.8rem;
    }
    .close-icon {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .close-icon i{
        font-size: 36px;

    }
</style>