<template>
    <div class="so88-container">
        <div class="content">
            <navbar :rightAction="submit"></navbar>
            <div class="preview-content">
                <div class="preview-content-inner">
                    <div class="image-inner change-photo-inner">
                        <img :src="data.photo" alt="">
                        <div class="change-photo">
                            <label for="change-photo">更換相片</label>
                            <input id="change-photo" type="file" accept="image/*" style="display:none" @change.prevent="changePhoto">
                        </div>
                    </div>
                    <div class="columns-inner">

                        <!--
                        <div class="columns">
                            <label for="meal_time">ID</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入ID" v-model="data.id">
                            </div>
                        </div>!-->

                        <div class="columns">
                            <label for="">姓名</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入姓名" v-model="data.name">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="">*體重</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入體重" v-model="data.weight">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="">*身高</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入身高" v-model="data.tall">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="">個人簡介</label>
                            <div class="textarea-value">
                                <textarea name="" id="" cols="30" rows="4" placeholder="個人簡介" v-model="data.desp"></textarea>
                            </div>
                        </div>

                        <div class="columns">
                            <label for="">醫師代碼或名稱(選填)</label>
                            <div class="input-value">
                                <template v-if="data.recommand_edit">
                                    <input type="text" placeholder="" v-model="data.recommand" />
                                </template>
                                <template v-else>
                                    <span>
                                        {{ data.recommand }}
                                    </span>
                                </template>
                            </div>
                        </div>
                        <br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "profile-edit",
        mounted() {
            let _this = this;

            this.auth(()=> {
                _this.user = this.$store.getters.user;
                _this.data.photo = this.user.photo || '/images/none_150.png';
                _this.data.name = this.user.name;
                _this.data.id = this.user.id;
                _this.data.desp = this.user.desp;
                _this.data.tall = this.user.tall;
                _this.data.weight = this.user.weight;
                _this.data.recommand = this.user.recommand;

                _this.data.recommand_edit = this.user.recommand == '' ? true : false;
            })
        },
        data() {
            return {
                user: null,
                router: {
                  from: {}
                },
                data: {
                    base64Photo:null,
                    photo:'',
                    name:'',
                    id:'',
                    desp:'',
                    tall:'',
                    weight: '',
                    recommand: '',
                    recommand_edit: false,
                }
            }
        },
        beforeRouteEnter(to, from, next) {
            console.log(to, from)
            next(vm=>{
                vm.router.from = from;
            })
        },
        methods: {
            submit() {

                let _this = this;
                let formData = new FormData();

                formData.append('type','edit');
                formData.append('name',this.data.name);
                formData.append('id',this.data.id);
                formData.append('desp',this.data.desp);
                formData.append('tall',this.data.tall);
                formData.append('weight',this.data.weight);
                formData.append('recommand',this.data.recommand);

                if (this.data.base64Photo) {
                    formData.append('photo',this.data.base64Photo);
                }

                let viewUser = {unique: 0};
                _this.$store.dispatch("updateViewUser", viewUser);

                axios.post('/api/member/save',formData)
                    .then((response)=> {

                        if (response.data.status == 'OK') {
                            _this.$root.$refs.alert.show("已儲存，完成",function() {
                                _this.user.name = _this.data.name;
                                _this.user.photo = _this.data.photo;
                                _this.user.id = _this.data.id;
                                _this.user.desp = _this.data.desp;
                                _this.user.tall = _this.data.tall;
                                _this.user.weight = _this.data.weight;
                                _this.user.recommand = _this.data.recommand;

                                _this.$store.dispatch("updateUser",_this.user);
                                _this.$router.go(-1);
                                /*
                                if (_this.router.from) {
                                    _this.$store.dispatch("updateQueryTime");
                                    _this.$router.push({
                                        path: _this.router.from.path,
                                        query: {
                                            time: _this.$store.getters.queryTime
                                        }
                                    })
                                }else {
                                    _this.$router.go(-1);
                                }*/

                            });

                        }else {
                            let error = '';
                            let resData = response.data;

                            if (typeof(resData.data.id) != "undefined" ) {
                                error = error + response.data.data.id[0];
                                error = error + '<br/>'
                            }
                            if (typeof(resData.data.tall) != "undefined") {
                                error = error + response.data.data.tall[0];
                                error = error + '<br/>'
                            }
                            if (typeof(resData.data.weight) != "undefined") {
                                error = error + response.data.data.weight[0];
                            }
                            if (typeof(resData.data.recommand) != "undefined") {
                                error = error + response.data.data.recommand[0];
                            }


                            if (error != '') {
                                _this.$root.$refs.alert.show(error);
                            }

                        }
                    }).catch(function(error) {
                    if (error.response && error.response.status === 400) {
                        _this.errors.setMessages(error.response.data.messages);
                    }
                }.bind(this));



            },
            changePhoto() {
                let _this = this;
                let filesToUpload = document.getElementById('change-photo').files;
                let file = filesToUpload[0];

                this.resizeSquareImage(file,600,600,function(url,base64Photo) {
                    _this.data.photo = url;
                    _this.data.base64Photo = base64Photo;
                });
            },

        }
    }
</script>

<style scoped>

</style>