<template>
    <div class="so88-container">
        <navbar-title></navbar-title>
        <div class="close-icon" @click="goback">
            <i class="f7-icons">close</i>
        </div>
        <div class="content" style="width: 300px; margin: 0 auto;">
            <div style="margin-top: 80px;text-align: center">
                <h2>會員註冊</h2>
            </div>
            <br/>
            <div>
                <label for="">Email 帳號</label>
                <input type="text" class="input-style" placeholder="Email 帳號" v-model="email" ref="email">
            </div>
            <br/>
            <div>
                <label for="">密碼(至少8個字元以上)</label>
                <input type="password" class="input-style" placeholder="密碼" v-model="password" ref="password">
            </div>
            <br/>
            <div>
                <label for="">確認密碼</label>
                <input type="password" class="input-style" placeholder="確認密碼" v-model="repassword" ref="repassword">
            </div>
            <br/>
            <div @click="submit">
                <input type="button" value="送出" class="input-button"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register",
        mounted() {

        },
        data() {
            return {
                email: '',
                password: '',
                repassword: ''
            }
        },
        methods: {
            goback() {
                this.$router.go(-1);
            },
            validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },
            submit() {
                let _this = this;

                if (this.email == '') {
                    _this.$root.$refs.alert.show("Email 必填");
                    $(_this.$refs.email).addClass('input-warning');
                    return ;
                }else {
                    if (!this.validateEmail(this.email)) {
                        _this.$root.$refs.alert.show("Email 格式不正確");
                        $(_this.$refs.email).addClass('input-warning');
                        return;
                    }
                    $(_this.$refs.email).removeClass('input-warning');
                }

                if (this.password == '') {
                    _this.$root.$refs.alert.show("密碼必填");
                    $(_this.$refs.password).addClass('input-warning');
                    return;
                }else {
                    if (this.password.length < 8) {
                        _this.$root.$refs.alert.show("密碼至少8位元以上");
                        $(_this.$refs.password).addClass('input-warning');
                        return;
                    }
                    $(_this.$refs.password).removeClass('input-warning');
                }

                if (this.password != this.repassword) {
                    _this.$root.$refs.alert.show("密碼兩次輸入不一致");
                    $(_this.$refs.repassword).addClass('input-warning');
                    return;
                }else {
                    $(_this.$refs.repassword).removeClass('input-warning');
                }


                let data = {
                    device_token: '',
                    device_type: '',
                    email: _this.email,
                    password: _this.password
                }

                axios.post('/api/mobile/signup',data)
                    .then(function (response) {

                        let data = response.data

                        if (data.code == 200) {
                            _this.$root.$refs.alert.show("請到您的Email激活帳戶",()=> {
                                _this.goback();
                            });
                        }else if (data.code == 201) {
                            _this.$root.$refs.alert.show("Email已被註冊")
                        }else {
                            _this.$root.$refs.alert.show("連線異常，請稍後再試")
                        }


                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));

            }
        },
        created () {

        },
        destroyed () {
        }
    }
</script>

<style scoped>

</style>