<template>
    <div class="so88-container">
        <div class="content margin-toolbar">
            <search-bar @loadData="loadData"></search-bar>
            <div class="user-items-title user-items-search" v-if="data.length > 0">
                <div class="title">精選</div>
                <template>
                    <user-item v-for="row in data" :row="row" :key="row.user_id" :type="'search'"></user-item>
                </template>
            </div>
            <div class="user-items-title user-items-search" v-else-if="keyword != ''">
                <div class="no-data-block">
                    找不到任何資料
                </div>
            </div>
        </div>
        <tabbar :tabname="tabname"></tabbar>
    </div>
</template>

<script>
    export default {
        name: "search",
        data() {
            return {
                keyword: '',
                tabname: 'search',
                data: []
            }
        },
        mounted() {
            this.$store.dispatch("updateTabname",this.tabname);

            this.auth(()=> {},()=>{});
        },
        methods: {
            goback() {
                this.$router.go(-1)
            },
            loadData(keyword) {

                if (keyword.length > 0) {
                    let _this = this;
                    axios.get('/api/member/search/'+keyword).then(function(res) {

                        _this.data = res.data.data;
                        _this.keyword = keyword;

                    }).catch(function(){

                    }.bind(this));
                }else {
                    this.keyword = keyword;
                }
            }
        }
    }
</script>

<style scoped>

</style>