<template>
    <div>
        <md-list>
            <md-subheader>
                設定
                <div class="close-icon" @click="goback">
                    <i class="f7-icons" style="cursor:pointer">close</i>
                </div>
            </md-subheader>

            <br/>
            <md-list-item @click="goProfileEdit">
                <i class="f7-icons">person</i>&nbsp;&nbsp;
                <span class="md-list-item-text">個人資料</span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item @click="goPrivacyEdit">
                <i class="f7-icons">lock</i>&nbsp;&nbsp;
                <span class="md-list-item-text">隱私設定</span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item @click="logout">
                <i class="f7-icons">logout</i>&nbsp;&nbsp;
                <span class="md-list-item-text">登出</span>
            </md-list-item>
            <md-divider></md-divider>

        </md-list>
    </div>
</template>

<script>
    export default {
        methods: {
            goProfileEdit(event) {
                this.$router.push({name: 'profile.edit'});
            },
            goPrivacyEdit(event) {
                this.$router.push({name: 'profile.privacy.edit'});
            },
            logout(event) {
                let _this = this;

                _this.$store.dispatch("logoutAuthStatus");

                this.isNativeApp(
                    ()=> {
                        axios.get('/api/logout')
                            .then(function (response) {
                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    _this.errors.setMessages(error.response.data.messages);
                                }
                            }.bind(_this));

                        _this.gotoLoginPage()
                    },
                    ()=> {
                        location.href="/logout";
                    }
                );
            },
            goback() {
                // this.$router.go(-1);
                history.back()
            }
        }
    }
</script>

<style scoped>
    .f7-icons {
        font-size: 1.8rem;
    }
    .close-icon {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .close-icon i{
        font-size: 36px;

    }
</style>