<template>
    <div class="so88-container">
        <div class="content">
            <navbar :rightAction="submit">
                <div slot="left_slot" class="continue">
                    <i class="f7-icons" @click.prevent="backLoginPage" style="cursor:pointer">close</i>
                </div>
            </navbar>
            <div class="preview-content">
                <div class="preview-content-inner">
                    <div class="image-inner change-photo-inner">
                        <img v-if="data.photo != ''" :src="data.photo" alt="">
                        <img v-else src="/images/default_user_img.jpg" alt="">
                        <div class="change-photo">
                            <label for="change-photo">更換相片</label>
                            <input id="change-photo" type="file" accept="image/*" style="display:none" @change.prevent="changePhoto">
                        </div>
                    </div>
                    <div class="columns-inner">
                        <!--
                        <div class="columns">
                            <label for="meal_time" :class="{'warning':isValid.id}">*ID帳號</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入ID" v-model="data.id">
                            </div>
                        </div>!-->
                        <div class="columns">
                            <label for="" :class="{'warning':isValid.name}">*姓名</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入姓名" v-model="data.name">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="" :class="{'warning':isValid.birth}">*出生</label>
                            <div class="input-value">
                                <input type="date" placeholder="請輸入出生" v-model="data.birth">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="" :class="{'warning':isValid.weight}">*體重</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入體重" v-model="data.weight">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="" :class="{'warning':isValid.tall}">*身高</label>
                            <div class="input-value">
                                <input type="text" placeholder="請輸入身高" v-model="data.tall">
                            </div>
                        </div>

                        <div class="columns">
                            <label for="">醫師代碼或名稱(選填)</label>
                            <div class="input-value">
                                <input type="text" placeholder="" v-model="data.recommand">
                            </div>
                        </div>


                        <!--
                        <div class="columns">
                            <label for="">營養師ID</label>
                            <div class="input-value">
                                <input type="text" placeholder="">
                            </div>
                        </div>!-->
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <md-snackbar :md-position="position" :md-duration="isInfinity ? Infinity : duration" :md-active.sync="showSnackbar" md-persistent>
                            <span>* 號欄位會必填欄位</span>
                            <md-button class="md-primary" @click="showSnackbar = false"></md-button>
                        </md-snackbar>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "signup",
        data() {
            return {
                showSnackbar: false,
                position: "center",
                duration: 2500,
                isInfinity: false,

                user: {},
                isValid: {
                    id: false,
                    name: false,
                    birth: false,
                    tall: false,
                    weight: false,
                },
                data: {
                    base64Photo: null,
                    photo:'',
                    id:'',
                    name:'',
                    birth:'',
                    tall:'',
                    weight:'',
                    recommand:''

                }
            }
        },
        mounted() {
            let _this = this;

            this.auth(()=> {
                _this.user = _this.$store.getters.user;

                this.isNativeApp(
                    ()=> {
                        if ( _this.$store.getters.user.tall == "") {
                            setTimeout(()=> {
                                _this.loadData();
                            },300)
                        }
                    },
                    ()=> {
                        _this.loadData();
                    }
                );

            });
        },
        methods: {
            backLoginPage() {

                let _this = this;

                this.isNativeApp(
                    ()=> {
                        _this.gotoLoginPage();
                    },
                    ()=> {
                        location.href="/logout";
                    }
                );

            },
            submit() {

                let _this = this;


                if (_this.validationForm()) {
                    this.user.name = this.data.name;
                    this.user.photo = this.data.photo;
                    this.user.id = this.data.id;
                    this.user.tall = this.data.tall;
                    this.user.weight = this.data.weight;

                    let formData = new FormData();
                    formData.append('type','register');
                    formData.append('name',this.data.name);
                    formData.append('id',this.data.id);
                    formData.append('birth',this.data.birth);
                    formData.append('weight',this.data.weight);
                    formData.append('tall',this.data.tall);
                    formData.append('recommand',this.data.recommand);
                    if (this.data.base64Photo) {
                        formData.append('photo',this.data.base64Photo);
                    }

                    axios.post('/api/member/save',formData)
                        .then((response)=> {

                            if (response.data.status == 'OK') {
                                _this.$store.dispatch("updateUser",this.user);
                                _this.$router.push({
                                    name:'home',
                                    query: {
                                        time: _this.$store.getters.queryTime
                                    }
                                });
                            }else {
                                // alert('系統問題，請洽管理員');
                                _this.$root.$refs.alert.show(response.data.data.recommand[0]);
                            }
                        }).catch(function(error) {
                        if (error.response && error.response.status === 400) {
                            _this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
                }

            },
            validationForm() {
                let emptyCount = 0;

                for( let key in this.isValid) {
                    this.isValid[key] = false;
                }

                if (this.data.id == '' || this.data.id == null) {
                    this.isValid.id = true;
                    emptyCount++;
                }

                if (this.data.name == '' || this.data.name == null) {
                    this.isValid.name = true;
                    emptyCount++;
                }

                if (this.data.birth == '' || this.data.birth == null) {
                    this.isValid.birth = true;
                    emptyCount++;
                }

                if (this.data.tall == ''  || this.data.tall == null) {
                    this.isValid.tall = true;
                    emptyCount++;
                }

                if (this.data.weight == ''  || this.data.weight == null) {
                    this.isValid.weight = true;
                    emptyCount++;
                }

                // if (this.data.weight == ''  || this.data.weight == null) {
                //     this.isValid.weight = true;
                //     emptyCount++;
                // }

                if (emptyCount > 0) {
                    if (!this.showSnackbar) {
                        this.showSnackbar = true;
                    }

                    return false;
                }

                return true;
            },
            changePhoto() {
                let _this = this;
                let filesToUpload = document.getElementById('change-photo').files;
                let file = filesToUpload[0];

                this.resizeSquareImage(file,600,600,function(url,base64Photo) {
                    _this.data.photo = url;
                    _this.data.base64Photo = base64Photo;
                });
            },
            loadData() {
                let _this = this;
                let formData = {};

                axios.get('/api/member/show', formData)
                    .then(function (response) {
                        _this.data = response.data;
                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
            }

        }
    }
</script>

<style scoped>
    .warning {
        color: #F00;
    }
</style>