
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html,body {
  margin: 0;
  padding: 0;
  background: #FFF !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  a:hover {
    text-decoration: none !important;
  }
}

$expert_color: #8acfba;
@mixin expert-icon($w,$top,$right) {
  content: '';
  background: url(/images/icon/so88_expert.png) no-repeat center center;
  width: $w;
  height: $w;
  background-size: cover;
  position: absolute;
  right: $right;
  top: $top;
}

body.modal-open {
  overflow: hidden;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.card-placeholder {
  margin:60px auto;
  width: 90%;
  max-width:600px
}

.no-data-block {
  text-align: center;
  padding: 25px 0;
}

.md-dialog.md-theme-default {
  z-index: 1000;
}
.md-overlay.md-fixed, body>.md-overlay {
  z-index: 999;
}

.refresh-before {
  &:before {
    content: '重新整理' !important;
    height: 60px !important;
    line-height: 60px !important;
  }
}

/*common user item*/
.user-items-title {
  &+.user-items-title {
    margin-top: -60px;
  }
  &.user-items-search {
    margin-top: 85px;
  }
  &.user-items-newnotice {
    //margin-top: 30px;
  }
  &.user-items-notice {

  }
  .title {
    width: 80%;
    font-size: 1.6rem;
    text-align:left;
    color: #A3A4A6;
    margin:0 auto;
    &.notice {
      padding-bottom: 8px;
      border-bottom: 1px solid #F0F2F3;
      width: 90%;
      text-indent: 1.5rem;
    }
    &+.user-items {
      margin-top: 20px;
    }
  }
  .no-user-items {
    height: 150px;
    margin-top: 10px;
    width: 90%;
    text-indent: 3.5rem;
  }
}
.user-items {
  width: 90%;
  margin:0 auto;
  height: auto;
  cursor: pointer;
  &+.user-items {
    margin-top: 15px;
  }
  &:last-child:after {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
  }

  .user-items-inner {
    display: flex;
    .profile_image {
      width: 80px;
      text-align:center;
      position: relative;
      .badge {
        background: #FD4D59;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        font-weight: 100;
        padding: 4px 0px;
        left: 8px;
        top: -4px;
      }
      img {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: #F0F0F0;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      verticle-align: middle;
      height: 100%;
    }
    .profile_info {
      height: 56px;
      flex-shrink: 1;
      width: 75%;
      display: flex;
      align-items: center;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      .notice-image {
        img {
          max-width: 50px;
          max-height: 50px;
        }
      }
      .profile_info-inner {
        line-height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        .name {
          font-size: 1.4rem;
          color: #000;
          font-weight: bold;
          .expert {
            color: $expert_color;
            position: relative;
            &:after {
              @include expert-icon(12px, 4px, -15px);
            }
          }
          .desp {
            font-weight: normal;
          }
        }
        .trace {
          font-size: 1.2rem;
          color: #787A7C;
        }
      }
    }
  }
}
/*common user item End*/

/*卡路里組成*/
.icon-quest-circle {
  display: inline-block;
  height: 33px;
  &.display-calorie-block {
    position: relative;
    .display-calorie-block-inner {
      position: absolute;
      top: 8px;
      left: -52px;
      &:before {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }
      .display_caloire {
        width: 50px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        border: 0.2rem solid #EDEFF0;
        line-height: 1.6rem;
        .calorie_inner {
          display: block;
          color: #000000;
          font-weight: bold;
        }
      }
    }
    .display-calorie-block-inner2 {
      &:before {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }
      .display_caloire {
        min-width: 50px;
        padding: 0 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        border: 0.2rem solid #EDEFF0;
        line-height: 1.6rem;
        .calorie_inner {
          color: #000000;
          font-weight: bold;
        }
      }
    }
  }
  .circle-inner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #EDEFF0;
    position: relative;
    .quest {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: #FFF;
      color: #C1C2C4;
      text-align: center;
      font-size: 2.8rem;
      svg {
        width: 45px;
        height: 45px;
        position: absolute;
        top: -4px;
        left: -6px;
      }
      .content {
        position: absolute;
        top: 11px;
        left: 1px;
        font-size: 14px;
        text-align: center;
        width: 44px;
        background: transparent;
        span {
          display: inline-block;
          &.lightBlue {
            color: #AEE5ED;
          }
          &.lightPink {
            color: #FD9FA3;
          }
          &.lightYellow {
            color: #FCDB80;
          }
          &+span {
            margin-left: 0px;
          }
        }
      }
    }
  }
  &+.icon-quest-circle {
    margin-left: 4px;
  }
}
/*卡路里組成 End*/


.margin-toolbar:before {
  content: '';
  display: inline-block;
  height: 30px;
}

.so88-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  /*navbar*/
  .so88-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-shrink: 0;
    background: #FFF;
    margin-bottom: 0px !important; /*remove bootstrap default*/
    z-index: 999;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
    .navbar-inner {
      font-size: 2.3rem;
      height: inherit;
      color: #72B5C4;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      .center {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
    }
  }
  /*navbar End*/

  /* profile header */
  .profile-header {
    margin-top: 45px;
    .fixed-head {
      background: #FFF;
      position: fixed;
      width: 100%;
      height: 50px;
      top: 45px;
      left: 0;
      border-bottom: 1px solid #F4F6F7;
      z-index: 999;
      .fixed-head-outside {
        height: inherit;
        &:before {
          content: '';
          display:inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .fixed-head-sugar {
          width: 100%;
          display:inline-block;
          vertical-align: middle;
          .fixed-head-inner {
            width: 100%;
            display: flex;
            .displayName {
              flex: 1;
              .inline-block {
                text-indent: 2.3rem;
                display: inline-block;
                font-size: 1.6rem;
              }
              .triangle {
                margin-top: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #000 transparent transparent transparent;
              }
            }
            .profile-gear {
              cursor: pointer;
              width: 70px;
              text-align: center;
              i {
                font-size: 1.8rem;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
  /* profile header End*/

  /* profile introduce*/
  .profile-introduce {
    //margin-top: 60px;
    background: #FFF;
    .info {
      height: 135px;
      &:before {
        content: '';
        display:inline-block;
        vertical-align: middle;
        height: 80%;
      }
      &.myself {
        &:before {
          content: '';
          display:inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }

      .info-item {
        display:inline-block;
        vertical-align: middle;
      }
      .img {
        width: 100px;
        text-align: center;
        img {
          width: 60px;
          height: 60px;
          //min-height: 70px;
          display: inline-block;
          border-radius: 50%;
          background: #F0F0F0;
        }
      }
      .name {
        width: calc(100% - 220px);
        font-size: 1.6rem;
        .user-name {
          color: #000;
          .expert {
            color: $expert_color;
            position: relative;
            &:after {
              @include expert-icon(12px, 4px, -15px);
            }
          }
        }
        .desp {
          font-size: 1.2rem;
        }
      }
      .weight {
        width: 100px;
        text-align: center;
        font-size: 2.3rem;
        .value {
          color: #000;
        }
        .kg {
          font-size: 1.8rem;
        }
      }
    }
    .subtabbar {
      height: 35px;
      display: flex;
      border-bottom: 1px solid #E0E1E3;
      .tab {
        color: #7C7C7E;
        flex: 1;
        text-align: center;
        &.active {
          border-bottom: 2px solid #51C5D3;
          i {
            color: #51C5D3;
          }
        }
        i {
          font-size: 2.2rem;
        }
      }
      .split {
        width: 1px;
        height: 85%;
        border-right: 1px solid #E0E1E3;
      }
    }
  }
  /* profile introduce End*/

  .content {
    flex-grow: 1;
    height: auto;
    min-height: 2em;
    background: #FFF;
    &:before {
      content: "";
      display: block;
      width: 100%;
      text-align: center;
    }
    .card-share {
      background: #FFF;
      max-width: 600px;
      margin:0 auto;
      &:last-child {
        margin-bottom: 120px !important;
      }
    }
    /*card share*/
    .card-share + .card-share {
      margin-top: 3.5rem;
    }
    .card-share:first-child{
      //margin-top: 5.8rem;
    }
    .card-share:last-child {
      .message {
        content: '123';
        width: 100%;
        height: 150px;
      }
    }
    .card-share header{
      padding: 0.6rem 1.2rem;
      display: flex;
      .profile_img {
        width: 44px;
        a {
          display: block;
          text-align: center;
          img {
            max-width: 44px;
            max-height: 44px;
            display: block;
            border-radius: 22px;
            margin: 0 auto;
            width: 44px;
            height: 44px;
            background: #EEEEEE;
          }
        }
      }
      .profile_name {
        flex: 4;
        .profile_inner {
          height: 50px;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle ;
            height: 100%;
          }
          .display {
            display: inline-block;
            vertical-align: middle;
            .display_name a{
              color: #000000;
              font-size: 1.4rem;
              &.expert {
                color: $expert_color;
                position: relative;
                &:after {
                  @include expert-icon(12px, 3px, -15px);
                }
              }
            }
            .before_time {
              color: #c0c0c0;
              font-size: 1rem;
              line-height: 14px;
            }
          }

        }
      }
      .profile_go {
        //flex: 1;
        //width: 60px;
        .go_inner {
          text-align: center;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
          }
          a {
            text-decoration: none;
            color: gray;
            i {
              display: inline-block;
              vertical-align: middle;
              font-size: 2.2rem;
              height: 0.1rem;
            }
            &.tracked {
              color: #C0C0C0;
              border: 1px solid #EEE;
              padding: 2px;
              display: inline-block;
              //margin-right: 10px;
              margin-top: 8px;
              font-size: 1rem;
              border-radius: 5px;
            }

          }

        }
      }
    }
    .card-share .main-img .img-inner {
      //position: relative;
      text-align: center;
      .label-name {
        position: absolute;
        right: 0;
        top: 0px;
        //max-width: 35%;
        padding: 10px;
        height: auto;
        background: rgba(0,0,0,0.75);
        color: #FFF;
      }
      img{
        //width: 100%;
        //height: auto;
        width: auto;
        height: auto;
        max-height: 414px;
        max-width: 100%;
      }
    }
    .card-share footer {
      width: calc(100% - 2.4rem);
      margin: 10px auto;
      display: flex;
      a {
        color: gray;
      }
      .left-icon {
        text-align: center;
        margin-top: 8px;
        .left-icon-inner {
          a {
            display: inline-block;
            &+a {
              margin-left: 1rem;
            }
          }
        }
      }
      .right-icon {
        flex: 1;
        text-align: right;
        a {
          display: inline-block;
        }
      }
    }
    .card-share .show-like-block {
      width: calc(100% - 2.4rem);
      margin: 10px auto;
    }
    .card-share .comment {
      padding-top: 0.5rem;
      .c-content {
        word-break: break-all;
        padding: 0 1.2rem;
        .expert {
          color: $expert_color;
          position: relative;
          &:after {
            @include expert-icon(12px, 3px, -10px);
          }
        }
        span {
          font-weight: bold;
          color: #000000;
        }
      }
    }


    .card-share .message {
      padding-top: 0.5rem;
      .m-content {
        padding: 0 1.2rem;
        .content_inner {
          //border-top: 1px solid #E4E6E5;
          padding-top: 0.5rem;
          display: flex;
          .textarea_frame {
            flex: 1;
            textarea {
              font-size: 16px;
              background: 0 0;
              color: #262626;
              font-size: inherit;
              height: 18px;
              max-height: 80px;
              outline: none;
              resize: none;
              border: 1px solid #DDDEDF;
              border-radius: 15px;
              min-height: 30px;
              padding: 3px 10px;
            }
          }
          .textarea_send {
            width: 40px;
            text-align: center;
            &:before {
              content: '';
              vertical-align: middle;
              display: inline-block;
              height: 100%;
            }
            a {
              font-weight: bold;
              vertical-align: middle;
              display: inline-block;
            }
          }

        }
      }
    }
    /*card share End*/

    /*search bar*/
    .search-bar {
      position: fixed;
      width: 100%;
      top: 45px;
      background: #FFF;
      z-index: 999;
      .search-bar-inner {
        height: 65px;
        width: 90%;
        border-bottom: 1px solid #EAECED;
        margin:0 auto;
        form {
          height: inherit;
          display: block;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
          .form-inner {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            .search-frame {
              display: flex;
              #search {
                flex-shrink: 1;
                width: 90%;
                border-radius: 20px;
                background: #EBEDEE;
                &.no-content {
                  width: 100%;
                }
                &:before {
                  content: '';
                  display: inline-block;
                  vertical-align: middle;
                  height: 100%;
                }
                .search-icon {
                  cursor: pointer;
                  display: inline-block;
                  text-align: right;
                  vertical-align: middle;
                  width: 30px;
                  font-size: 1.6rem;
                  color: #A1A2A4;
                  label {
                    margin-bottom: 0;
                  }
                }
                .clear-icon {
                  cursor: pointer;
                  display: inline-block;
                  text-align: left;
                  vertical-align: middle;
                  width: 20px;
                  font-size: 1.5rem;
                  color: #A1A2A4;
                }
                .search-input {
                  width: calc(100% - 70px);
                  display: inline-block;
                  vertical-align: middle;
                  input {
                    background: transparent;
                    border: none;
                    outline: none;
                    height: 36px;
                    width: 100%;
                    &:focus {
                      border: none;
                      outline: none !important;
                    }
                  }
                }
              }
              #search-btn {
                text-align: center;
                width: 50px;
                a {
                  line-height: 36px;
                }
              }
            }
          }
        }
      }
    }
    /*search bar End*/

    /*comm user item here*/

    /* user info*/
    .user-info {
      .tab-switch {
        height: 40px;
        display: flex;
        border-bottom: 1px solid #EAEAEC;
        font-size: 1.4rem;
        .tab {
          color: #C4C5C7;
          cursor: pointer;
          flex: 1;
          text-align: center;
          padding-top: 0.8rem;
          &.active {
            color: #51C5D3;
            border-bottom: 2px solid #51C5D3;
          }
        }
      }
      .data {
        width: 90%;
        margin:0 auto;
        .row-data {
          &:first-child {
            margin-top: 25px;
          }
          &+.row-data {
            margin-top: 25px;
          }
          &:last-child {
            &:after {
              content:'';
              display:block;
              width: 100%;
              height: 100px;
            }
          }
          .input-box {
            margin-left: 20px;
            padding: 5px;
            border: 1px solid #EAEAEC;
            min-height: 105px;
          }
          .column {
            display: inline-block;
            &.icon {
              width: 17px;
            }
            &.row-outside {
              width: calc(100% - 24px);
            }
            i{
              color: #D0D1D3;
              font-size: 1.7rem;
            }
            .column-inner {
              width: 100%;
              height: 40px;
              display: flex;
              &.border {
                border-bottom: 1px solid #EAEAEC;
              }
              &.break-input {
                height: 30px;
              }
              .label-name {
                flex: 1;
              }
              .value {
                text-align: right;
                width: 70px;
                &.warning {
                  color: #E36C59;
                }
              }
              .unit {
                text-indent: 0.5rem;
                width: 30px;
              }
            }
          }
        }
        /* trend chart*/
        .trend-filter {
          margin-top: 25px;
          .btn-filter {
            cursor: pointer;
            display: inline-block;
            height: 40px;
            width: calc((100% - 48px) / 3);
            text-align: center;
            &+.btn-filter {
              margin-left: 18px;
            }
            .filter-inner {
              border: 1px solid #C4C4C6;
              border-radius: 5px;
              padding: 5px;
              &.active {
                border: 2px solid #8FD6DE;
              }
            }
          }
        }
        .date-period {
          margin-top: 25px;
          display: flex;
          .icon {
            cursor: pointer;
            width: 30px;
            i {
              color: #8FD6DE;
            }
            &.right {
              text-align: right;
            }
          }
          .date {
            flex: 1;
            text-align: center;
            font-size: 1.8rem;
            color: #8FD6DE;
          }

        }
        .chart-outside {
          margin-top: 20px;
          .data-chart{
            .title {
              color: #626365;
              padding: 20px 0;

            }
            &+.data-chart {
              margin-top: 20px;
            }
            &:last-child:after {
              content: '';
              display:block;
              height: 50px;
            }
          }
        }

        /* trend chart End*/
      }
    }
    /* user info End*/

    /*self images*/
    .self-images {
      width: 95%;
      margin:15px auto;
      .item-outside {
        height: auto;
        &:last-child:after {
          content: '';
          display: block;
          height: 100px;
          width: 100%;
        }
        .title {
          color: #000;
          padding: 5px 0;
        }
        .item-inner {
          padding:0 5px;
          .item {
            cursor: pointer;
            display:inline-block;
            padding: 5px;
            position: relative;
            width: calc(100% / 3);
            max-width: 184px;
            img {
              display: block;
              width: 90px;
              height: auto;
              border-radius: 5px;
            }
            .img {
              display: block;
              width: 100%;
              padding-bottom: 100%;
              border-radius: 5px;
              background-size: contain !important;
              box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
            }
            .red-circle {
              position: absolute;
              background: #FD4B59;
              width: 12px;
              height: 12px;
              border-radius: 6px;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    /*self images End*/


    .profile-track {
      margin-top: 25px;
    }

    .profile-friend-images .card-share:first-child{
      margin-top: 5px;
    }

    /* create image*/
    .create-head {
      position: fixed;
      height: 50px;
      width: 100%;
      background: #FFF;
      z-index: 999;
      border-bottom: 1px solid #ECEEEF;
      .create-head-inner {
        display: flex;
        padding-top: 13px;
        .goback {
          text-align: center;
          font-size: 1.8rem;
          width: 70px;
          a {
            color: #7F8082;
            i {
              vertical-align: sub;
            }
          }
        }
        .close {
          text-align: center;
          width: 50px;
          i {
            font-size: 2.6rem;
          }
        }
        .title {
          text-align: center;
          font-size: 1.8rem;
          flex: 1;
        }
        .continue {
          text-align: center;
          font-size: 1.8rem;
          width: 50px
        }
      }
    }
    .preview-image {
      margin-top: 70px;
      .preview-image-inner {
        width: 90%;
        margin: 0 auto;
        .title {
          color: #9C9D9F;
          font-size: 1.5rem;
        }
        .image-inner {
          img {
            display: block;
            padding: 10px;
            max-width: 120px;
            height: auto;
          }
          &+.type-items {
            margin-top: 20px;
          }
        }
        .type-items {
          .type-items-inner {
            padding: 10px;
            display: flex;
            .item {
              color: #9C9D9F;
              display: inline-block;
              flex: 1;
              border: 1px solid #9C9D9F;
              text-align: center;
              border-radius: 5px;
              padding: 7px 5px 5px 5px;
              &.item {
                margin-left: 10px;
              }
              &.active {
                border: 2px solid #000;
                font-weight: bold;
                padding: 6px 5px 5px 5px;
              }
            }
          }

        }
      }
    }
    .preview-content {
      margin-top: 70px;
      .image-inner {
        text-align: center;
        img {
          max-width: 36%;
          height: auto;
        }
        &:after {
          content: "";
          height: 30px;
          display: block;
        }

        &.change-photo-inner {
          img{
            display: block;
            max-width: 150px;
            max-height: 150px;
            border-radius: 75px;
            margin: 0 auto;
          }
          .change-photo {
            margin-top: 10px;
          }
        }
      }

      .change-photo label{
        color: #73B4A4;
      }
      .columns-inner {
        width: 90%;
        margin: 0 auto;
        .columns {
          &+.columns {
            margin-top: 25px;
          }
        }
        .input-value {
          border-bottom: 1px solid #c9c9c9;
          padding-bottom: 5px;
        }
        .textarea-value {
          border: 1px solid #c9c9c9;
          padding: 5px;
        }
        input,textarea,select {
          border: none;
          outline: none;
          width: 100%;
          resize: none;
          -webkit-appearance: none
        }
      }
    }
    .crop-outside {
      margin: 0 auto;
      max-width: 600px;
      margin-top: 50px;
      .crop-center {
        position: relative;
        padding-bottom: 100%;
      }
      .crop-inner {
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        #crop {
          position: absolute;
        }
        .grid {
          widtH: 100%;
          height: 100%;
          pointer-events: none;
          .grid-item-vertical {
            background-color: rgba(255,255,255,.3);
            position: absolute;
            left: 33%;
            top: 0;
            width: 1px;
            height: 100%;
            z-index: 99;
            &:nth-child(2) {
              left: 66%;
            }
          }
          .grid-item-horizon {
            background-color: rgba(255,255,255,.3);
            position: absolute;
            left: 0;
            top: 33%;
            width: 100%;
            height: 1px;
            z-index: 99;
          }
        }
        .tool {
          position: absolute;
          background: rgba(0,0,0,.5);
          z-index: 9999;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          text-align: center;
          padding-top: 5px;
          bottom: 20px;
          cursor: pointer;
          i {
            color: #FFF;
          }
          &.scale {
            left: 50px
          }
          &.rotate {
            right: 50px;
          }
        }
      }
    }
    /* create image End*/
  }

  /*toolbar*/
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    z-index: 999;
    //padding-bottom: env(safe-area-inset-bottom);
    .toolbar-inner {
      display: flex;
      background: #FAFAFA;
      //height: 45px;
      height: 50px;
      border-bottom: 1px solid #DCDCDC;
      //height: calc(4rem + env(safe-area-inset-bottom));
      a {
        color: #97989A;
        flex: 1;
        display: block;
        text-align: center;
        line-height: 50px;
        &.active {
          color: #000000;
        }
        i {
          font-size: 2.2rem;
        }
        .take_picture_for-inner {
          margin-top:2px;
          width:36px;
          height:36px;
          border-radius:18px;
          border:5px solid #88CFB9;
        }
      }
    }
  }
  .addBtnLabel {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 0px;
    //line-height: 45px;
  }
  /*toolbar End*/

  .close-icon {
    width:100%;
    z-index: 999;
    text-align: right;
    margin-top: 5px;
    padding-right: 10px;
    position: fixed;
    i {
      font-size: 36px;
      cursor:pointer
    }
  }
}

.input-style {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  outline: none;
  padding: 0px 10px;
}

.input-button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  background: #488DFC;
  border: 1px solid #488DFC;
  border-radius: 6px;
}

.input-warning {
  border: 1px solid #F00;
}

//tooltip
.tooltip {
  display: block !important;
  z-index: 10000;

  &.popover {
    $color: rgba(0,0,0,0.7);

    .popover-inner {
      background: $color;
      color: black;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      a {
        color: #FFF;
      }
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  .tooltip-inner {
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: rgba(0,0,0,0.7);
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
//tooltip



@media screen and (max-width: 320px) {
  .icon-quest-circle .circle-inner{
    display: none;

  }
  .icon-quest-circle.display-calorie-block .display-calorie-block-inner {
    left: -2.4rem;
  }
}