<template>
    <div class="so88-container">
        <div class="content">
            <navbar>
                <div slot="right_slot" class="continue"><a href="#" @click.prevent="nextPage">繼續</a></div>
            </navbar>
            <div class="preview-image">
                <div class="preview-image-inner">
                    <div class="image-inner">
                        <div class="title">照片</div>
                        <img :src="image" alt="">
                    </div>

                    <!--
                    <div class="type-items">
                        <div class="title">分類</div>
                        <div class="type-items-inner">
                            <div class="item" :class="{'active':data.type == 'caloria'}" data-type="caloria" @click.prevent="clickType">食物</div>
                            <div class="item" :class="{'active':data.type == 'weight'}" data-type="weight" @click.prevent="clickType">體重</div>
                            <div class="item" :class="{'active':data.type == 'life'}" data-type="life" @click.prevent="clickType">生活</div>
                        </div>
                    </div>!-->

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "create-image-type",
        data() {
            return {
                createImage: '',
                image: null,
                data: {
                    type:'caloria',
                    isRated: false
                }
            };
        },
        mounted() {
            let _this = this;
            this.image = this.$route.query.image

            this.createImage = this.$store.getters.createImage;
            this.data.type = this.createImage.type;
            this.data.isRated = this.createImage.isRated;


            if (typeof(this.image) === "undefined") {
                this.historyBack();
                return;
            }

            axios.get(_this.image).then(response => {
            }).catch(function(error){
                console.log(error.message);
                _this.historyBack();
            });
        },
        methods: {
            nextPage(event) {
                let _this = this;

                _this.$router.push({ name: 'create.content', query: { image: _this.image, type: _this.data.type, show_page: this.$route.query.show_page}})
            },
            clickType(event) {
                let dom = event.target;
                let jDom = $(dom);

                if (this.data.isRated) {
                    return;
                }
                this.data.type = jDom.data("type");

                this.createImage.type = this.data.type;
                this.$store.dispatch("updateCreateImage", this.createImage);
            }

        }
    }
</script>

<style scoped>

</style>