<template>
    <div class="so88-container">
        <div class="content">
            <navbar :title="'編輯隱私設定'">
                <div slot="left_slot" class="close" style="opacity: 1">
                    <i class="f7-icons" @click.prevent="historyBack">close</i>
                </div>

                <div slot="right_slot" class="continue">
                    <a v-if="!isUpload" href="#" @click.prevent="upload">儲存</a>
                    <img v-else src="/images/loading.gif" alt="">
                </div>
            </navbar>
            <div class="preview-image">
                <div class="preview-image-inner">
                    <div style="padding-bottom: 10px;">
                        誰可以看到你的貼文？
                    </div>

                    <div v-if="user.role == 'nutritionist'">
                        <div class="privacy-row">
                            <md-radio v-model="privacy" value="public" class="md-primary">公開</md-radio>
                        </div>

                        <md-divider></md-divider>
                    </div>

                    <div class="privacy-row">
                        <md-radio v-model="privacy" value="expert" class="md-primary">僅限專家(營養師、醫生)</md-radio>
                    </div>

                    <md-divider></md-divider>

                    <div class="privacy-row">
                        <md-radio v-model="privacy" value="tracker" class="md-primary">追蹤我的人</md-radio>
                    </div>

                    <md-divider></md-divider>

                    <div class="privacy-row">
                        <md-radio v-model="privacy" value="me" class="md-primary">只限本人</md-radio>
                    </div>

                    <md-divider></md-divider>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "create-image-privacy",
        data() {
            return {
                user: {
                    role: 'patient'
                },
                isUpload: false,
                privacy: ''
            };
        },
        mounted() {

            let _this = this;
            let unique = _this.$route.query.unique

            this.auth(()=> {
                _this.user = this.$store.getters.user;
            })

            if (unique) {

                axios.get("/api/diet/show/" + unique).then(response => {

                    let data = response.data;

                    _this.privacy = data.share_type

                }).catch(function(error){
                    console.log(error.message);
                    _this.historyBack();
                });

            }else {
                _this.historyBack();
            }

        },
        methods: {
            upload() {

                let _this = this;
                this.isUpload = true

                axios.post("/api/diet/privacy",{unique: _this.$route.query.unique, share_type: _this.privacy}).then(response => {
                    this.isUpload = false;

                    _this.$store.dispatch("updateQueryTime");

                    _this.$router.push({
                        name: 'home',
                        query: {
                            time: _this.$store.getters.queryTime
                        }
                    });

                }).catch(function(error){
                    console.log(error.message);
                    this.isUpload = false;
                    _this.historyBack();
                });

            }
        }
    }
</script>

<style scoped>
    .privacy-row {
        margin-top: 10px;
    }
</style>