<template>
    <div class="so88-container">
        <div class="content" style="position:relative">
            <navbar :title="'新動態'">
                <div slot="left_slot" class="close" style="opacity: 1">
                    <i v-if="type == 'caloria'" class="f7-icons" @click.prevent="historyBack">close</i>
                    <div v-else class="goback">
                        <a href="#" @click.prevent="historyBack"><i class="f7-icons">left</i> 返回</a>
                    </div>
                </div>

                <div slot="right_slot" class="continue"><a href="#" @click.prevent="nextPage">繼續</a></div>
            </navbar>

            <div class="crop-outside">
                <div class="crop-center">
                    <div id="crop-inner" class="crop-inner">
                        <div id="crop">
                            <croppa v-model="croppa"
                                    :width="croppaOption.canvasSize.width"
                                    :height="croppaOption.canvasSize.width"
                                    :disabled="croppaOption.isDisabled"
                                    :disable-click-to-choose="true"
                                    :placeholder="''"
                                    :show-remove-button="false"
                                    :disable-scroll-to-zoom="true"
                                    :canvas-color="'#000'"
                                    :prevent-white-space="croppaOption.isPreventWhiteSpace"
                                    :quality="croppaOption.outputQuality"
                                    :initial-image="image"
                            ></croppa>
                        </div>
                        <div class="grid" v-if="!croppaOption.isDisabled">
                            <div class="grid-item-vertical"></div>
                            <div class="grid-item-vertical"></div>
                            <div class="grid-item-horizon"></div>
                            <div class="grid-item-horizon" style="top:66%"></div>
                        </div>
                        <div class="tool scale" @click="imageScale" v-if="croppaOption.isShowScale"><i class="f7-icons">zoom_in</i></div>
                        <div class="tool rotate" @click="imageRotate"><i class="f7-icons">undo</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    * https://github.com/zhanziyang/vue-croppa
    * */
    import Croppa from 'vue-croppa';
    import dataURLtoBlob from 'blueimp-canvas-to-blob'
    Vue.use(Croppa)

    export default {
        name: "create-image",
        data() {
            return {
                type: 'caloria',
                image: null,
                createImage: null,
                croppa: {},
                isShowScale: true,
                croppaOption: {
                    canvasSize: { width: 320, height: 320 },
                    outputQuality: 3,
                    viewport: { width: 1500 },
                    isPreventWhiteSpace:false,
                    isDisabled: false,
                    isShowScale: true,
                    isZoom: false,//是否放大
                    metadata: {
                        scale: 1,
                        startX: 0,
                        startY: 0,
                        orientation: 1
                    }
                }
            }
        },
        created() {
            let windowWidth = $(window).width()
            this.croppaOption.canvasSize.width = windowWidth > 600 ? 600 : windowWidth;
            this.croppaOption.viewport.width = this.croppaOption.canvasSize.width * this.croppaOption.outputQuality
        },
        mounted() {

            let _this = this;
            _this.createImage = _this.$store.getters.createImage;
            _this.type = this.$route.query.type

            if (_this.$route.query.edit == 1 && _this.type == 'caloria') {
                _this.$nextTick(function() {
                    _this.editData(_this.$route.query.unique)
                })
            }else {
                _this.addData()
            }

        },
        methods: {
            editData(unique) {

                let _this = this

                axios.get("/api/diet/show/"+unique).then(response => {

                    let data = response.data
                    _this.image = data.photo

                    if (!_this.createImage.isEditLoad) {
                        _this.createImage.isEditLoad = true
                        _this.createImage.unique = data.unique
                        _this.createImage.name = data.name
                        _this.createImage.type = data.type
                        _this.createImage.desp = data.desp
                        _this.createImage.value = data.value
                        _this.createImage.isRated = data.rated == 1 ? true : false

                        if (data.type == 'caloria') {
                            _this.createImage.meal_time = moment(data.meal_time).format('YYYY-MM-DDTHH:mm')
                        }else {
                            _this.createImage.meal_time = moment(data.meal_time).format('YYYY-MM-DD')
                        }

                        _this.type = _this.createImage.type
                        _this.createImage.share_type = data.share_type
                        _this.$store.dispatch("updateCreateImage", _this.createImage);
                    }

                    // _this.croppa.refresh()
                    return _this.setInit()

                }).catch(function(error){
                    console.log(error.message);
                    _this.historyBack();
                });

            },
            addData(){
                let _this = this;
                let image = _this.$route.query.image


                this.image = image;

                if (typeof(_this.image) === 'undefined') {
                    _this.historyBack();
                    return;
                }

                axios.get(image).then(response => {
                    _this.setInit()
                }).catch(function(error){
                    console.log(error.message);
                    _this.historyBack();
                });
            },
            setInit() {
                let _this = this;
                _this.croppa.refresh()

                _this.$nextTick(()=> {
                    setTimeout(function() {

                        let isSquar = false;
                        if (_this.croppa.naturalWidth < 600 && _this.croppa.naturalHeight < 600) {
                            _this.croppaOption.isShowScale = false
                        }else if (_this.croppa.naturalWidth > 600 && _this.croppa.naturalHeight > 600 && _this.croppa.naturalWidth == _this.croppa.naturalHeight) {
                            _this.croppaOption.isShowScale = false
                            _this.croppaOption.isDisabled = true
                            isSquar = true;
                        }

                        if (_this.createImage.image.crop === null) {
                            let maxSide = Math.max(_this.croppa.naturalWidth,_this.croppa.naturalHeight)
                            _this.croppaOption.metadata.scale =  _this.croppaOption.isShowScale == false && !isSquar ? 1 : _this.croppaOption.viewport.width / maxSide
                            _this.croppaOption.metadata.startX = (_this.croppaOption.viewport.width - _this.croppa.naturalWidth * _this.croppaOption.metadata.scale) / 2
                            _this.croppaOption.metadata.startY = (_this.croppaOption.viewport.width - _this.croppa.naturalHeight * _this.croppaOption.metadata.scale) / 2

                            _this.croppaOption.isPreventWhiteSpace = false
                            _this.croppaOption.isDisabled = true
                            _this.croppaOption.isZoom = false
                        }else {
                            _this.croppaOption.metadata.startX = _this.createImage.image.points.startX;
                            _this.croppaOption.metadata.startY = _this.createImage.image.points.startY;
                            _this.croppaOption.metadata.scale = _this.createImage.image.scale;
                            _this.croppaOption.isZoom = _this.createImage.image.isZoom;
                            _this.croppaOption.metadata.orientation = _this.createImage.image.orientation;

                            _this.croppaOption.isPreventWhiteSpace = !_this.createImage.image.isDisabled
                            _this.croppaOption.isDisabled =  _this.createImage.image.isDisabled

                        }
                        _this.croppa.applyMetadata(_this.croppaOption.metadata);

                    }, 300)
                })


            },
            nextPage(event) {
                event.preventDefault();

                let _this = this;

                this.croppa.generateBlob(
                    blob => {

                        var reader = new FileReader();
                        reader.readAsDataURL(blob);

                        reader.onloadend = function() {

                            let base64 = reader.result


                            if (_this.croppaOption.isZoom == false) {
                                let canvas = document.createElement("canvas");
                                let context = canvas.getContext('2d')

                                let cropW = _this.croppaOption.viewport.width - _this.croppaOption.metadata.startX * 2
                                let cropH = _this.croppaOption.viewport.width - _this.croppaOption.metadata.startY * 2
                                var imageObj = new Image()

                                canvas.width  = cropW
                                canvas.height = cropH
                                imageObj.onload = function() {
                                    context.drawImage(imageObj, _this.croppaOption.metadata.startX, _this.croppaOption.metadata.startY, cropW, cropH, 0, 0, cropW, cropH);
                                    base64 = canvas.toDataURL("image/jpeg",1);
                                    _this.createImage.image.crop = base64;

                                    canvas.toBlob(function(cropBlob){
                                        try {
                                            let cropBlobUrl = URL.createObjectURL(cropBlob);
                                            _this.updateStoreCreateImage(cropBlobUrl)
                                        } catch (e) {
                                            console.log(e.name,e.message);
                                            history.back();
                                        }
                                    }, "image/jpeg", 1);
                                }
                                imageObj.src = base64

                            }else {
                                _this.createImage.image.crop = base64;
                                let blobUrl = URL.createObjectURL(blob);
                                _this.updateStoreCreateImage(blobUrl)
                            }

                        }



                    },
                    'image/jpeg',
                    1
                );

            },
            updateStoreCreateImage(blobUrl) {
                let _this = this

                let metadata = _this.croppa.getMetadata();
                _this.createImage.image.points.startX = metadata.startX
                _this.createImage.image.points.startY = metadata.startY
                _this.createImage.image.scale = metadata.scale
                _this.createImage.image.orientation = metadata.orientation
                _this.createImage.image.isZoom = _this.croppaOption.isZoom
                _this.createImage.image.isDisabled = _this.croppaOption.isDisabled
                _this.createImage.image.image = blobUrl


                _this.createImage.type = _this.type;

                _this.$store.dispatch("updateCreateImage", _this.createImage);

                // _this.$router.push({ name: 'create.type', query: { image: blobUrl, show_page: this.$route.query.show_page}})

                if ( _this.type == 'caloria' ) {
                    _this.$router.push({ name: 'create.content', query: { image: blobUrl, type: _this.type, show_page: _this.$route.query.show_page}})
                }else {
                    _this.historyBack();
                }

            },
            imageRotate(event) {

                event.preventDefault();

                let orientation = this.croppa.orientation

                switch(orientation) {
                    case 1:
                        orientation = 8
                        break;
                    case 8:
                        orientation = 3
                        break;
                    case 3:
                        orientation = 6
                        break;
                    case 6:
                        orientation = 1
                        break;
                }

                this.croppaOption.metadata.orientation = orientation

                if (this.croppaOption.isZoom == false) {
                    this.croppaOption.metadata.startX = (this.croppaOption.viewport.width - this.croppa.imgData.height ) / 2
                    this.croppaOption.metadata.startY = (this.croppaOption.viewport.width - this.croppa.imgData.width ) / 2
                }

                this.croppa.applyMetadata(this.croppaOption.metadata);
            },
            imageScale(event) {

                event.preventDefault();


                if(this.croppaOption.isZoom) {
                    let maxSide = Math.max(this.croppa.naturalWidth,this.croppa.naturalHeight)
                    this.croppaOption.metadata.scale = this.croppaOption.viewport.width / maxSide
                    this.croppaOption.isPreventWhiteSpace = false
                    this.croppaOption.isDisabled = true
                    this.croppaOption.isZoom = false
                }else {
                    this.croppaOption.metadata.scale = 1
                    this.croppaOption.isPreventWhiteSpace = true
                    this.croppaOption.isDisabled = false
                    this.croppaOption.isZoom = true
                }


                this.croppaOption.metadata.startX = (this.croppaOption.viewport.width - this.croppa.naturalWidth * this.croppaOption.metadata.scale) / 2
                this.croppaOption.metadata.startY = (this.croppaOption.viewport.width - this.croppa.naturalHeight * this.croppaOption.metadata.scale) / 2


                this.croppa.applyMetadata(this.croppaOption.metadata);

            },

        }
    }
</script>

<style scoped>
</style>