<template>
    <div class="so88-container">
        <div class="content">
            <navbar>
                <div slot="left_slot" class="close" style="opacity: 1">
                    <i v-if="type != 'caloria'" class="f7-icons" @click.prevent="historyBack">close</i>
                    <div v-else class="goback">
                        <a href="#" @click.prevent="historyBack"><i class="f7-icons">left</i> 返回</a>
                    </div>
                </div>

                <div slot="right_slot" class="continue">
                    <a v-if="!isUpload" href="#" @click.prevent="upload">上傳</a>
                    <img v-else src="/images/loading.gif" alt="">
                </div>
            </navbar>
            <div class="preview-content">
                <div class="preview-content-inner">
                    <div class="image-inner">
                        <img v-if="image" :src="image" alt="">
                        <div v-else style="width: 150px; height: 150px; margin: 0 auto; background:#E0E0E0">
                            <label for="take_picture" style="cursor: pointer; text-align: center; color: #FFF; font-size: 16px; width: 150px; height: 100px; padding-top: 50px; display: inline-block;">
                                上傳圖片<br/>(選填)
                            </label>
                            <input id="take_picture" type="file" accept="image/*" style="display:none" @change="handleCreateImage(type,1,updateCreateImage)">
                        </div>
                    </div>
                    <div class="columns-inner">
                        <div v-if="type == 'caloria'">
                            <div class="columns">
                                <label for="">*食物名稱</label>
                                <div class="input-value">
                                    <input type="text" placeholder="請輸入食物詳細資訊(ex:脫脂牛奶、煉乳芒果冰沙......)" v-model="data.name">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="meal_time">*時間</label>
                                <div class="input-value">
                                    <input id="meal_time" type="datetime-local" v-model="data.meal_time">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="">相片解說</label>
                                <div class="textarea-value">
                                    <textarea name="" cols="30" rows="4" placeholder="相片解說" v-model="data.desp"></textarea>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="type == 'bp'">
                            <div class="columns">
                                <label for="">*收縮壓(SBP)</label>
                                <div class="input-value">
                                    <input type="text" max="300" min="120" placeholder="請輸入舒張壓" v-model="data.sbp">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="">*舒張壓(DBP)</label>
                                <div class="input-value">
                                    <input type="text" max="80" min="0" placeholder="請輸入收縮壓" v-model="data.dbp">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="meal_time">*時間</label>
                                <div class="input-value">
                                    <input id="meal_time" type="date" v-model="data.meal_time">
                                </div>
                            </div>
                            <div class="columns">
                                <label for="">相片解說</label>
                                <div class="textarea-value">
                                    <textarea name="" id="" cols="30" rows="4" placeholder="相片解說" v-model="data.desp"></textarea>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="columns">
                                <label for="">相片解說</label>
                                <div class="textarea-value">
                                    <textarea name="" cols="30" rows="4" placeholder="相片解說" v-model="data.desp"></textarea>
                                </div>
                            </div>
                        </div>

                        <div>
                            <md-checkbox v-if="type == 'bp'" v-model="isMoon">經期</md-checkbox>
                        </div>

<!--
                        <div>
                            <md-checkbox v-model="isShareFB">分享至Facebook</md-checkbox>
                        </div>!-->

                        <div style="margin-top: 25px;">
                            <div class="md-layout-item">
                                <md-field class="md-has-value">
                                    <label for="share_type">分享對象</label>
                                    <select  v-model="data.share_type" name="share_type" id="share_type">
                                        <option value="public" v-if="$store.getters.user.role == 'nutritionist'">公開</option>
                                        <option value="expert">僅限專家(醫生、營養師)</option>
                                        <option value="tracker">追蹤我的人</option>
                                        <option value="me">只限本人</option>
                                    </select>
<!--
                                    <md-select v-model="data.share_type" name="share_type" id="share_type" md-dense>
                                        <md-option value="public">公開</md-option>
                                        <md-option value="expert">專家</md-option>
                                        <md-option value="tracker">追蹤</md-option>
                                        <md-option value="me">只限本人</md-option>
                                    </md-select>!-->
                                </md-field>
                            </div>
                        </div>

                        <br/>
                        <br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "create-image-content",
        mounted() {

            let _this = this;
            _this.createImage = _this.$store.getters.createImage;

            if (!_this.createImage.isEditLoad) {
                if (_this.$route.query.edit == 1) {
                    _this.$nextTick(function() {
                        _this.editData(_this.$route.query.unique)
                    })
                }else {

                    _this.createImage.type = this.$route.query.type;
                    _this.createImage.image.image = this.$route.query.image

                    if (_this.createImage.type == 'bp') {
                        _this.createImage.meal_time = moment(this.data.meal_time, 'YYYY-MM-DD',true).isValid() ? this.data.meal_time : moment().format('YYYY-MM-DD');
                    }else {
                        _this.createImage.meal_time = moment(this.data.meal_time, 'YYYY-MM-DDTHH:mm',true).isValid() ? this.data.meal_time : moment().format('YYYY-MM-DDTHH:mm')
                    }

                    if (_this.createImage.share_type == null) {
                        _this.createImage.share_type = _this.$store.getters.user.post_share_type
                    }

                    _this.setInit();

                }
            }else {
                _this.setInit();
            }

            if (typeof(_this.createImage.share_type) === "undefined" ) {
                this.historyBack();
                return;
            }

        },
        data() {
            return {
                isMoon: false,
                isUpload: false,
                createBase64Image:null,
                createImage:null,
                image: null,
                type: null, //caloria weight life
                isShareFB: false,
                data: {
                    name:'',
                    meal_time:'',
                    desp:'',
                    value:'',
                    sbp: '',
                    dbp: '',
                    share_type: null
                },
                output: {
                    imageURL: null,
                    redirectURL: null
                },
                isPublishToFB: false

            }
        },
        methods: {
            shareToFB() {

                let imgURL = this.output.imageURL
                let redirectURL = this.output.redirectURL
                let _this = this;


                this.fbShareDialog({url: redirectURL, title: '瘦88', description: '結合專家和科技，幫助你改變飲食習慣及觀念', image: imgURL},()=> {
                    console.log("fbShareDialog");
                },()=> {
                    _this.isNativeApp(
                        ()=> {
                        },
                        ()=> {
                            FB.ui({
                                method: 'share_open_graph',
                                action_type: 'og.shares',
                                action_properties: JSON.stringify({
                                    object: {
                                        'og:url': redirectURL,
                                        'og:title': '瘦88',
                                        'og:description': "結合專家和科技，幫助你改變飲食習慣及觀念",
                                        'og:image': imgURL
                                    }
                                })
                            }, function(response){
                                // Debug response (optional)
                                console.log(response);
                            });
                        }
                    );
                })

                _this.finishedTo()

            },
            editData(unique) {

                let _this = this

                axios.get("/api/diet/show/"+unique).then(response => {

                    let data = response.data
                    _this.createImage.image.image = data.photo

                    if (!_this.createImage.isEditLoad) {
                        _this.createImage.isEditLoad = true
                        _this.createImage.unique = data.unique
                        _this.createImage.name = data.name
                        _this.createImage.type = data.type
                        _this.createImage.desp = data.desp
                        _this.createImage.value = data.value
                        _this.createImage.sbp = data.sbp
                        _this.createImage.dbp = data.dbp
                        _this.createImage.isRated = data.rated == 1 ? true : false

                        if (data.type == 'caloria') {
                            _this.createImage.meal_time = moment(data.meal_time).format('YYYY-MM-DDTHH:mm')
                        }else {
                            _this.createImage.meal_time = moment(data.meal_time).format('YYYY-MM-DD')
                        }
                        _this.createImage.isMoon = data.is_moon == 1 ? true : false;
                        _this.createImage.share_type = data.share_type

                        _this.setInit();


                        _this.$store.dispatch("updateCreateImage", _this.createImage);

                    }

                }).catch(function(error){
                    console.log(error.message);
                    _this.historyBack();
                });
            },
            setInit() {

                this.data.name = this.createImage.name;
                this.data.meal_time = this.createImage.meal_time;
                this.data.desp = this.createImage.desp;
                this.data.share_type = this.createImage.share_type;
                this.data.value = this.createImage.value;
                this.data.sbp = this.createImage.sbp;
                this.data.dbp = this.createImage.dbp;
                this.createBase64Image = this.createImage.image.crop;
                this.image = this.createImage.image.image == "" ? null : this.createImage.image.image;

                this.type = this.createImage.type;
                this.isMoon = this.createImage.isMoon;

            },
            upload() {
                let _this = this;
                let formData = new FormData();
                let error = '';


                switch(_this.type) {
                    case 'caloria':
                        formData.append('meal_time',_this.data.meal_time);
                        formData.append('name',_this.data.name);

                        if (_this.data.name == '' || typeof(_this.data.name) === "undefined") {
                            error = '食物名稱跟日期需輸入'
                        }

                       break;
                    case 'bp':
                        formData.append('meal_time',_this.data.meal_time);
                        formData.append('value', 0);
                        formData.append('sbp',_this.data.sbp);
                        formData.append('dbp',_this.data.dbp);
                        formData.append('isMoon',_this.isMoon)

                        if (_this.data.sbp == '' || typeof(_this.data.sbp) === "undefined" || _this.data.dbp == '' || typeof(_this.data.dbp) === "undefined") {
                            error = '血壓跟日期需輸入'
                        }else if (isNaN(_this.data.sbp) === true || isNaN(_this.data.dbp) === true) {
                            error = '請填入正確的血壓值'
                        }

                        break;
                    default:
                        break;
                }

                if (error != '') {
                    _this.$root.$refs.alert.show(error);
                    return ;
                }

                formData.append('unique', _this.createImage.unique);
                formData.append('type', _this.type);
                formData.append('desp', _this.data.desp);
                formData.append('share_type', _this.data.share_type);
                if (_this.createBase64Image) {
                    formData.append('photo', _this.createBase64Image);
                }

                if (_this.isUpload == false) {
                    _this.isUpload = true;
                    axios.post('/api/diet/save',formData)
                        .then(function (response) {
                            _this.$store.dispatch('updateQueryTime');
                            _this.$store.dispatch("clearCreateImage");

                            _this.output.imageURL = response.data.data.image_url
                            _this.output.redirectURL = response.data.data.redirect_url

                            _this.fbShareDialog("check",()=>{
                                if (_this.isPublishToFB && response.data.code == 200 && response.data.data.image_url != '') {
                                    _this.$root.$refs.confirm.show("","請問是否分享到 Facebook", ()=> {
                                        _this.finishedTo()
                                    }, ()=> {
                                        _this.shareToFB()
                                    },"不分享","分享");

                                }else {
                                    _this.finishedTo()
                                }
                            },()=> {

                                _this.finishedTo()
                            })

                        })
                        .catch(function (error) {
                            if (error.response && error.response.status === 400) {
                                _this.errors.setMessages(error.response.data.messages);
                            }
                            _this.isUpload = false;
                        }.bind(this));
                }

            },
            finishedTo() {
                let _this = this;

                if (_this.$route.query.show_page == true) {
                    _this.$router.push({name:'image.show',params:{unique: _this.createImage.unique}, query:{ is_edit: true } });
                }else {
                    _this.$router.push({
                        name: 'home',
                        query: {
                            time: _this.$store.getters.queryTime
                        }
                    });
                }
            },
            historyBack() {

                this.updateCreateImage();

                this.$router.go(-1);
            },
            updateCreateImage() {
                this.createImage.value = this.data.value
                this.createImage.name = this.data.name;
                this.createImage.meal_time = this.data.meal_time;
                this.createImage.desp = this.data.desp;
                this.createImage.share_type = this.data.share_type;
                this.createImage.isEditLoad = true;

                this.$store.dispatch("updateCreateImage", this.createImage);
            }
        }
    }
</script>

<style scoped>

</style>