<template>
    <div class="data">
        <div class="trend-filter">
            <div class="btn-filter"><div class="filter-inner week active" @click="clickTimeFilter">日</div></div>
            <div class="btn-filter"><div class="filter-inner month" @click="clickTimeFilter">月</div></div>
            <div class="btn-filter"><div class="filter-inner six-month" @click="clickTimeFilter">半年</div></div>
        </div>

        <div class="date-period">
            <div class="icon left" @click="changeDate(-1)"><i class="f7-icons">chevron_left</i></div>
            <div class="date">{{ data.current_date.showTime }}</div>
            <div class="icon right" @click="changeDate(1)"><i class="f7-icons">chevron_right</i></div>
        </div>

        <div class="chart-outside" v-touch="touch">
            <div class="data-chart">
                <md-table v-model="dataTable" md-card md-fixed-header style="height:392px;">
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="日期">{{ item.date }}</md-table-cell>
                        <md-table-cell md-label="收縮壓">{{ item.sbp }}</md-table-cell>
                        <md-table-cell md-label="舒張壓">{{ item.dbp }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </div>

            <div class="data-chart">
                <div class="title">血壓趨勢</div>
                <div style="position: relative;">
                    <div :class="{noneVisible: !isShowWeightChart}">
                        <chartjs-line
                                :bind="true"
                                :height="250"
                                :option="chart.bp.myoption"
                                :labels="chart.labels"
                                :datasets="chartData"
                                ref="chart">
                        </chartjs-line>
                    </div>
                    <div v-if="!isShowWeightChart" class="nodata-placeholder">查無資料</div>
                </div>
            </div>

            <div class="data-chart">
                <div class="title">卡路里趨勢</div>
                <div style="position: relative;">
                    <div :class="{noneVisible: !isShowCaloriaChart}">
                        <chartjs-line
                                :height="250"
                                :option="chart.caloria.myoption"
                                :bind="true"
                                :datasets="chart.caloria.data"
                                :labels="chart.labels">
                        </chartjs-line>
                    </div>
                    <div v-if="!isShowCaloriaChart" class="nodata-placeholder">查無資料</div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    require('chart.js');
    require('hchs-vue-charts');
    Vue.use(VueCharts);

    import VTouch from 'v-touch'
    Vue.use(VTouch, {name: 'move'})

    var beginWeight = 0;
    var beginCaloria = 0;
    var timeType = 'week';

    export default {
        name: "profile-info-chart",
        props: {
            user: {
                type: Object,
                default: ()=> {
                    return {
                        role: 'patient',
                        unique: 0
                    }
                }
            }
        },
        data() {
            return {
                dataTable: [],
                data: {
                    isLoading: false,
                    current_date: {
                      type:'week',
                      date: moment().format("YYYY/MM/DD"),
                      showTime: null,
                    }
                },
                chart: {
                    labels:['一','二','三','四','五','六','日'],
                    caloria: {
                        data:[{
                                label: "卡路里",
                                fill: false,
                                lineTension: 0.1,
                                backgroundColor: "rgba(75,192,192,0.4)",
                                borderColor: "rgba(75,192,192,1)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgba(75,192,192,1)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                pointHoverBorderColor: "rgba(220,220,220,1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                data: [],
                                spanGaps: false
                            },
                            {
                                label: "標準值",
                                fill: false,
                                lineTension: 0.1,
                                backgroundColor: "rgba(75,192,192,0.4)",
                                borderColor: "rgba(255,0,0,1)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgba(255,0,0,1)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                pointHoverBorderColor: "rgba(220,220,220,1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                data: [],
                                spanGaps: false,
                            }],
                        myoption: {
                            legend: {
                                display: false
                            },
                            scales:{
                                xAxes: [{
                                    ticks: {
                                        minRotation:0,
                                        maxRotation:0,
                                        autoSkip: false,
                                        callback(value,index) {

                                            switch (timeType) {
                                                case 'six-month':
                                                    if (moment(value).format('DD') == '01') {
                                                        return moment(value).format('MM/DD');
                                                    }
                                                    break;
                                                case 'month':
                                                    if (index % 7 == 0) {
                                                        return moment(value).format('MM/DD');
                                                    }
                                                    break;
                                                default:
                                                    return value;
                                                    break;
                                            }
                                            return null;
                                        }
                                    }

                                }],
                                yAxes: [{
                                    ticks: {
                                        min: 500,
                                        max: 3000,
                                        stepSize: 1,
                                        callback: function(value, index, values) {
                                            if ( value % 500 == 0 ) {
                                                return value;
                                            }

                                            if (value == beginCaloria) {
                                                let a = Math.floor(value / 500);
                                                let p = values.pop() + a * 500;
                                                let minus = value - p;
                                                if (minus >= 120 && minus <= 380) {
                                                    return value
                                                }
                                            }

                                            return null;
                                        }
                                    },
                                    gridLines: {
                                        display: false
                                    }
                                }],
                            }
                        }
                    },
                    bp: {
                        datasets: [],
                        data:{
                            sbp: [],
                            dbp: []
                        },
                        myoption: {
                            legend: {
                                display: true
                            },
                            scales:{
                                xAxes: [{
                                    ticks: {
                                        minRotation:0,
                                        maxRotation:0,
                                        autoSkip: false,
                                        callback(value,index) {

                                            switch (timeType) {
                                                case 'six-month':
                                                    if (moment(value).format('DD') == '01') {
                                                        return moment(value).format('MM/DD');
                                                    }
                                                    break;
                                                case 'month':
                                                    if (index % 7 == 0) {
                                                        return moment(value).format('MM/DD');
                                                    }
                                                    break;
                                                default:
                                                    return value;
                                                    break;
                                            }
                                            return null;
                                        },
                                        calculateTickRotation: function() {
                                            return 0;
                                        },
                                    }

                                }],
                                yAxes: [{
                                    ticks: {
                                        min: 1,
                                        max: 1,
                                        stepSize: 0.1,
                                        callback: function(value, index, values) {
                                            if (Number.isInteger(value)) {
                                                return value;
                                            }

                                            if (value == beginWeight) {
                                                let a = Math.floor(value);
                                                let minus = value - a;
                                                if (minus >= 0.4 && minus <= 0.7) {
                                                    return value
                                                }
                                            }

                                            return null;
                                        }
                                    },
                                    gridLines: {
                                        display: false
                                    }
                                }]
                            }
                        },
                    }
                },
            }
        },
        mounted() {
          this.data.current_date.showTime = this.data.current_date.date + " " + moment().format("dddd");
        },
        methods: {
            changeDate(diff) {

                let old;
                switch(this.data.current_date.type) {
                    case 'six-month':
                        old = new Date(this.data.current_date.date);

                        if (diff == 1) {
                            this.data.current_date.date = moment(old).add(6,'month').format("YYYY/MM/01");
                        }else if (diff == -1) {
                            this.data.current_date.date = moment(old).add(-6,'month').format("YYYY/MM/01");
                        }else {
                            if (moment(old).format('M') <= 6) {
                                this.data.current_date.date = moment(old).format("YYYY/01/01");
                            }else {
                                this.data.current_date.date = moment(old).format("YYYY/07/01");
                            }
                        }

                        if (moment(this.data.current_date.date).format('M') <= 6) {
                            this.data.current_date.showTime = moment(this.data.current_date.date).format("YYYY") + "上半年";
                        }else {
                            this.data.current_date.showTime = moment(this.data.current_date.date).format("YYYY") + "下半年";
                        }

                        break;
                    case 'month':
                        old = new Date(this.data.current_date.date);

                        this.data.current_date.date = moment(old).add(diff,'month').format("YYYY/MM/01");
                        this.data.current_date.showTime = moment(this.data.current_date.date).format("YYYY/MM");
                        break;
                    default:
                        diff = diff * 7;
                        old = new Date(this.data.current_date.date);
                        this.data.current_date.date = moment(old).add(diff,'day').format("YYYY/MM/DD");
                        this.data.current_date.showTime = this.data.current_date.date + " " + moment(old).add(diff,'day').format("dddd")
                        break;
                }

                this.loadData();
            },
            clickTimeFilter(event) {

                if (this.data.isLoading) {
                    return
                }

                this.data.current_date.date = moment().format("YYYY/MM/DD");

                let dom = event.target;
                let jDom = $(dom);
                let jDomParentDiv = jDom.parents('.trend-filter');

                jDomParentDiv.find('.btn-filter .filter-inner').removeClass('active');
                jDom.addClass('active');

                if (jDom.is(".week")) {
                    this.data.current_date.type = 'week';
                }else if(jDom.is(".month")) {
                    this.data.current_date.type = 'month';
                }else {
                    this.data.current_date.type = 'six-month';
                }

                timeType = this.data.current_date.type;

                this.changeDate(0);

            },
            loadData() {
                let _this = this;


                if (this.data.isLoading) {
                    return
                }
                this.data.isLoading = true;


                this.chart.labels = [];
                this.chart.bp.data.sbp = [];
                this.chart.bp.data.dbp = [];

                this.chart.caloria.data[0].data = [];
                this.chart.caloria.data[1].data = [];

                switch(this.data.current_date.type) {
                    case 'week':
                        this.chart.labels = ['一','二','三','四','五','六','日']

                        axios.get('/api/chart/week/'+_this.user.unique+'/' + moment(_this.data.current_date.date).format('YYYY-MM-DD'))
                            .then(function (response){

                                let data = response.data;

                                _this.dataTable = [];
                                data.map((item,key)=>{
                                    _this.chart.caloria.data[0].data.push(item.value);
                                    _this.chart.caloria.data[1].data.push(item.standard_value);

                                    _this.chart.bp.data.sbp.push(item.sbp);
                                    _this.chart.bp.data.dbp.push(item.dbp);

                                    _this.dataTable.push({
                                        id: key,
                                        date: item.meal_time,
                                        sbp: item.sbp || '-',
                                        dbp: item.dbp || '-',
                                        isMoon: item.isMoon ? '☾' : ''
                                    })
                                });

                                _this.setChartMaxMin();

                                _this.setLoadingFalse();
                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                                _this.setLoadingFalse();
                            }.bind(this));
                        break;
                    case 'month':


                        axios.get('/api/chart/month/'+_this.user.unique+'/' + moment(_this.data.current_date.date).format('YYYY-MM-DD'))
                            .then(function (response){

                                let data = response.data;

                                _this.dataTable = [];
                                data.map((item,key)=>{
                                    _this.chart.caloria.data[0].data.push(item.value);
                                    _this.chart.caloria.data[1].data.push(item.standard_value);

                                    _this.chart.bp.data.sbp.push(item.sbp);
                                    _this.chart.bp.data.dbp.push(item.dbp);

                                    _this.chart.labels.push(
                                        moment(item.meal_time).format('YYYY-MM-DD')
                                    )

                                    _this.dataTable.push({
                                        id: key,
                                        date: item.meal_time,
                                        sbp: item.sbp || '-',
                                        dbp: item.dbp || '-',
                                        isMoon: item.isMoon ? '☾' : ''
                                    })
                                });

                                _this.setChartMaxMin();

                                _this.setLoadingFalse();

                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                                _this.setLoadingFalse();
                            }.bind(this));
                        break;
                    default:

                        axios.get('/api/chart/six-month/'+_this.user.unique+'/' + moment(_this.data.current_date.date).format('YYYY-MM-DD'))
                            .then(function (response){

                                let data = response.data;

                                _this.dataTable = [];
                                data.map((item,key)=>{
                                    _this.chart.caloria.data[0].data.push(item.value);
                                    _this.chart.caloria.data[1].data.push(item.standard_value);

                                    _this.chart.bp.data.sbp.push(item.sbp);
                                    _this.chart.bp.data.dbp.push(item.dbp);

                                    _this.chart.labels.push(
                                        moment(item.meal_time).format('YYYY-MM-DD')
                                    )

                                    _this.dataTable.push({
                                        id: key,
                                        date: item.meal_time,
                                        sbp: item.sbp || '-',
                                        dbp: item.dbp || '-',
                                        isMoon: item.isMoon ? '☾' : ''
                                    })
                                });

                                _this.setChartMaxMin();
                                _this.setLoadingFalse();

                            })
                            .catch(function (error) {
                                if (error.response && error.response.status === 400) {
                                    this.errors.setMessages(error.response.data.messages);
                                }
                                _this.setLoadingFalse();
                            }.bind(this));
                        break;
                }
            },
            setLoadingFalse() {

                let _this = this;

                if (_this.data.isLoading) {
                    _this.data.isLoading = false;
                }

            },
            setChartMaxMin() {

                let _this = this;

                beginCaloria = _this.chart.caloria.data[0].data[0];
                let filterCaloria = [..._this.chart.caloria.data[0].data,..._this.chart.caloria.data[1].data];
                filterCaloria = filterCaloria.filter(function(obj) { return obj });

                let maxCaloria = Math.floor(Math.max(...filterCaloria)) + 1000;
                let minCaloria = Math.floor(Math.min(...filterCaloria)) - 1000;
                _this.chart.caloria.myoption.scales.yAxes[0].ticks.max = maxCaloria;
                _this.chart.caloria.myoption.scales.yAxes[0].ticks.min = minCaloria < 0 ? 0 : minCaloria;


                let bp_list = [..._this.chart.bp.data.sbp, ..._this.chart.bp.data.dbp];

                beginWeight = bp_list[0];
                let filterWeight = bp_list;
                filterWeight = filterWeight.filter(function(obj) { return obj });

                let maxWeight = Math.floor(Math.max(...filterWeight)) + 2;
                let minWeight = Math.floor(Math.min(...filterWeight)) - 2;
                _this.chart.bp.myoption.scales.yAxes[0].ticks.max = maxWeight;
                _this.chart.bp.myoption.scales.yAxes[0].ticks.min = minWeight < 0 ? 0 : minWeight;


                let diff = _this.chart.bp.myoption.scales.yAxes[0].ticks.max - _this.chart.bp.myoption.scales.yAxes[0].ticks.min;
                if (diff > 30) {
                    _this.chart.bp.myoption.scales.yAxes[0].ticks.stepSize = 10
                }else {
                    _this.chart.bp.myoption.scales.yAxes[0].ticks.stepSize = 0.1
                }

            },

            swipeLeft() {
                console.log("L + ");
                this.changeDate(1)
            },
            swipeRight() {
                console.log("R - ");
                this.changeDate(-1)
            },
        },
        watch: {
            'user': function(value) {
                this.loadData();
            },
            chartData:function()
            {
                this.$refs.chart.chart_data.datasets = this.chartData;
            }
        },
        computed: {
            chartData:function()
            {
                return [
                    {
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: this.chart.bp.data.sbp,
                        label: '收縮壓'
                    },
                    {
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(245,139,10,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(245,139,10,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(245,139,10,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: this.chart.bp.data.dbp,
                        label: '舒張壓'
                    }
                ];
            },
            isShowWeightChart: function() {
                return ( this.chart.bp.data.sbp.filter(function(obj) { return obj }).length > 0 || this.chart.bp.data.dbp.filter(function(obj) { return obj }).length > 0 ) ? true : false;
            },
            isShowCaloriaChart: function() {
                return this.chart.caloria.data[0].data.filter(function(obj) { return obj }).length > 0 ? true : false;
            },
            touch() {
                return {
                    x: this.x,
                    y: this.y,
                    methods: true
                }
            }
        },
        filters : {
            dataNullFilter: function(value){
                return value.filter(function(obj) { return obj });
            }
        }
    }
</script>

<style scoped>
    .nodata-placeholder{
        position: absolute;
        top: 50%;
        left: calc(50% - 32px);
    }
    .noneVisible {
        visibility: hidden;
    }
</style>