<template>
    <div>
        <profile-chart :user="user"></profile-chart>
        <div class="data">
            <div class="row-data">
                <div class="column icon" @click="editInput('cal_over')">
                <span v-if="isNutritionist">
                    <i class="f7-icons" v-if="!data.columns.cal.edit">compose</i>
                    <i class="f7-icons" style="color: #006000;font-weight: bold;" v-else>check_round</i>
                </span>
                </div>
                <div class="column row-outside">
                    <div class="column-inner border">
                        <div class="label-name">每日熱量上限</div>
                        <div class="value warning">
                            <span v-if="!data.columns.cal.edit">{{ data.columns.cal.value }}</span>
                            <span v-else><input id="cal" type="number" v-model="data.columns.cal.value"></span>
                        </div>
                        <div class="unit">cal</div>
                    </div>
                </div>
            </div>

            <div class="row-data">
                <div class="column icon">
                    <!--<i class="f7-icons">compose</i>-->
                </div>
                <div class="column row-outside">
                    <div class="column-inner border">
                        <div class="label-name">醣成癮指數</div>
                        <div class="value">
                            {{ data.addict }}
                        </div>
                        <div class="unit">&nbsp;</div>
                    </div>
                </div>
            </div>

            <!--
            <div class="row-data">
                <div class="column icon">

                </div>
                <div class="column row-outside">
                    <div class="column-inner border">
                        <div class="label-name">目前BMI</div>
                        <div class="value">
                            {{ data.bmi }}
                        </div>
                        <div class="unit">&nbsp;</div>
                    </div>
                </div>
            </div>!-->

            <div class="row-data">
                <div>
                    <div class="column icon" @click="editInput('suggestion')">
                    <span v-if="isNutritionist">
                        <i class="f7-icons" v-if="!data.columns.suggestions.edit">compose</i>
                        <i class="f7-icons" style="color: #006000;font-weight: bold;" v-else>check_round</i>
                    </span>
                    </div>
                    <div class="column row-outside">
                        <div class="column-inner break-input">
                            <div class="label-name">建議</div>
                        </div>
                    </div>
                </div>

                <div class="input-box" v-if="!data.columns.suggestions.edit">
                    <template v-if="isExist(data.columns.suggestions.value)">
                        <template v-for="line in data.columns.suggestions.value.split('\n')">{{ line }}<br></template>
                    </template>
                </div>
                <div v-else>
                    <textarea class="n-textarea" name="" cols="30" rows="5" v-model="data.columns.suggestions.value"></textarea>
                </div>
            </div>

            <div class="row-data">
                <div>
                    <div class="column icon" @click="editInput('task')">
                    <span v-if="isNutritionist">
                        <i class="f7-icons" v-if="!data.columns.tasks.edit">compose</i>
                        <i class="f7-icons" style="color: #006000;font-weight: bold;" v-else>check_round</i>
                    </span>
                    </div>
                    <div class="column row-outside">
                        <div class="column-inner break-input">
                            <div class="label-name">任務</div>
                        </div>
                    </div>
                </div>

                <div class="input-box" v-if="!data.columns.tasks.edit">
                    <template v-if="isExist(data.columns.tasks.value)">
                        <template v-if="data.columns.tasks.value.length > 0" v-for="line in data.columns.tasks.value.split('\n')">{{ line }}<br></template>
                    </template>
                </div>
                <div v-else>
                    <textarea class="n-textarea" name="" id="" cols="30" rows="5" v-model="data.columns.tasks.value"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('profile-chart', require('./Chart.vue'));

    export default {
        name: "profile-info-data",
        props: {
            user: {
                type: Object,
                default: ()=> {
                    return {
                        role: 'patient',
                        unique: 0
                    }
                }
            }
        },
        data() {
            return {
                data: {
                    bmi: 0,
                    addict: 0,
                    columns: {
                        cal: {
                            value: 0,
                            edit: false
                        },
                        suggestions: {
                            value: '',
                            edit: false
                        },
                        tasks: {
                            value: '',
                            edit: false
                        }
                    }
                }

            }
        },
        mounted() {

        },
        methods: {
            loadData() {
                let _this = this;
                axios.get('/api/drecord/'+_this.user.unique)
                    .then(function (response) {
                        let data = response.data;
                        _this.data.columns.cal.value = data.target_cal;
                        _this.data.columns.suggestions.value = data.suggestions;
                        _this.data.columns.tasks.value = data.tasks;
                        _this.data.bmi = data.bmi;
                        _this.data.addict = data.addict;
                    })
                    .catch(function (error) {
                        if (error.response && error.response.status === 400) {
                            this.errors.setMessages(error.response.data.messages);
                        }
                    }.bind(this));
            },
            save() {
                let _this = this;
                let params = {
                    unique: _this.user.unique,
                    target_cal: _this.data.columns.cal.value,
                    suggestions: _this.data.columns.suggestions.value,
                    tasks: _this.data.columns.tasks.value
                };

                axios.post('/api/drecord/save',params)
                    .then(function(res) {

                    })
                    .catch(function (error) {

                    }.bind(this))
            },
            editInput(column) {
                let _this = this;

                switch(column) {
                    case 'cal_over':
                        _this.data.columns.cal.edit = !_this.data.columns.cal.edit;
                        if (!_this.data.columns.cal.edit) {
                            _this.save();
                        }
                        break;
                    case 'suggestion':
                        _this.data.columns.suggestions.edit = !_this.data.columns.suggestions.edit
                        if (!_this.data.columns.suggestions.edit) {
                            _this.save();
                        }
                        break;
                    default:
                        _this.data.columns.tasks.edit = !_this.data.columns.tasks.edit
                        if (!_this.data.columns.tasks.edit) {
                            _this.save();
                        }
                        break;
                }
            },
            isExist(val) {
                return val != null && typeof(val) != 'undefined' ? true : false;
            }
        },
        computed: {
            isNutritionist() {
                return this.$store.getters.user.role == 'nutritionist' && this.$store.getters.user.id == this.user.parent_unique;
            }
        },
        watch: {
            'user': function(value) {
                console.log('load data',value);
                this.loadData();
            }
        }
    }
</script>

<style scoped>
    #cal {
        border: 2px solid #EFBD70;
        width: 100%;
        outline-offset: -2px;
    }
    .n-textarea {
        border: 2px solid #EFBD70;
        width: 100%;
        outline-offset: -2px;
    }
</style>