<template>
    <div>
        <template v-if="user.role == 'nutritionist'">
            <profile-nutri :user="user"></profile-nutri>
        </template>
        <template v-else>
            <profile-data :user="user"></profile-data>
        </template>

    </div>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                default: ()=> {
                    return {
                        role: 'patient',
                        unique: 0
                    }
                }
            }
        },
        mounted() {
        },
        components: {
            'profile-data': require('./Data.vue'),
            'profile-nutri': require('./Nutri.vue')
        },
        watch: {
            'user': function(value) {
                console.log('profile.infos.index',value);
            }
        }
    }
</script>

<style scoped>

</style>