<template>
    <div>
        <br/>
        <template v-if="data.other_dynamic.length > 0">
            <user-item v-for="(row,key) in data.other_dynamic" :row="row" :type="'rate'" :key="key"></user-item>
        </template>
        <template v-else>
            <div class="no-data-block">
                尚無通知
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "profile-info-nutri",
        props: {
            user: {
                type: Object,
                default: ()=> {
                    return {
                        role: 'patient',
                        unique: 0
                    }
                }
            }
        },
        data() {
            return {
                data: {
                    other_dynamic: []
                }
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData() {
                let _this = this;
                let data = this.user
                axios.post('/api/notice/nutri/index', data).then(function (res) {
                    _this.data.other_dynamic = res.data;
                }).catch(function (error) {
                    if (error.response && error.response.status === 400) {
                        this.errors.setMessages(error.response.data.messages);
                    }
                }.bind(this));
            }
        }
    }
</script>

<style scoped>

</style>